<style>
	body{
		background:url(/img/main-src-bg.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	p, a{
		color:#fff;
	}
</style>
<section data-ng-controller="HomeController" style="padding-top:150px">
	<div class="text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="/img/Auditions-Logo.png" />
			</div>
		</div>
		<br>
		<div class="row" style="padding:15px 0">
			<div class="col-md-3 col-sm-3 col-sm-offset-4">
				<a href="#!/clients/new-audition-form" target="_blank"><img class="img-responsive" src="/img/new-project-button.png" alt="new project button"></a>
			</div>
			<div class="col-md-3 col-sm-3">
				<a href="http://studiocenter.com" target="_blank"><img class="img-responsive" src="/img/studiocenter-button.png" alt="studio center button"></a>
			</div>
		</div>
	</div>
</section>
