<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="/img/sc-logo-black.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Studio Center Auditions
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="#!/projects/new-audition-form" target="_blank">Start A New Audition Project</a>
				<a class="btn btn-primary btn-lg" href="http://studiocenter.com" target="_blank">StudioCenter.com</a>
			</p>
			<p>
				For Auditions Started before 7/27 Please <a href="http://old.studiocenterauditions.com" target="_blank">click here</a>
			</p>
		</div>
	</div>
</section>
