<style>
body{
	background:url(/img/login-bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.social img{
	max-width:45px;
	height:auto;
}
</style>
<section class="row" data-ng-controller="AuthenticationController">
	<div class="col-md-6 col-md-offset-3" style="background:#fff;padding:40px;margin-top:100px">
		<div class="col-md-12 text-center">
			<a href="/auth/facebook" class="undecorated-link social">
				<img src="/modules/users/img/buttons/facebook.png">
			</a>
			<a href="/auth/twitter" class="undecorated-link social">
				<img src="/modules/users/img/buttons/twitter.png">
			</a>
			<a href="/auth/google" class="undecorated-link social">
				<img src="/modules/users/img/buttons/google.png">
			</a>
			<a href="/auth/linkedin" class="undecorated-link social">
				<img src="/modules/users/img/buttons/linkedin.png">
			</a>
		</div>
		<h3 class="col-md-12 text-center">Or with your account</h3>
		<div class="col-md-6 col-md-offset-3" style="padding:20px">
			<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
				<fieldset>
					<div class="form-group">
						<label for="username">Username</label>
						<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
					</div>
					<div class="text-center form-group">
						<button type="submit" class="btn btn-primary">Sign in</button>&nbsp; or&nbsp;
						<a href="/#!/signup">Sign up</a>
					</div>
					<div class="forgot-password" style="text-align:center">
						<a href="/#!/password/forgot">Forgot your password?</a>
					</div>
					<div data-ng-show="error" class="text-center text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</section>