.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* bootstrap hacks */
.btn-primary:active, .btn-primary.active{
	background:#000;
}
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}
/* bootstrap overrides */
.list-group.item-list a:nth-child(even) {
    background:#d4d4d4;
}
.list-group.item-list a:nth-child(even):hover {
    background:#fff;
}
/* drop box styles */
.panel-heading {
    cursor: pointer;
}
.drop-box {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	width: 100%;
	height: 100px;
	text-align: center;
	padding-top: 25px;
	float: left;
	margin-left: 10px;
}
.drop-box.dragover {
	border: 5px dashed blue;
}

.drop-box.dragover-err {
	border: 5px dashed red;
}
/* projects view specific */
.strike-if{
	text-decoration:line-through;
}
/* background color codes */
.defClr{
	background:#fff !important;
}
.brownBg{
	background: #7F4D00 !important;
	color:#fff !important;
}
.blueBg{
	background:#4580ed !important;
	color:#fff !important;
}
.lblueBG{
	background:#91b4e8 !important;
	color:#000 !important;
}
.yellowBg{
	background:#ffff00 !important;
	color:#000 !important;
}
.lyellowBg{
	background:#ffffb2 !important;
	color:#000;
}
.greenBg{
	background:#4ceb5a !important;
	color:#fff !important;
}
.lgreenBG{
	background:#9afca5 !important;
	color:#000 !important;
}
.orangeBG{
	background:#fc7200 !important;
	color:#fff !important;
}
.lgray{
	background:#c8c8c8 !important;
}
.mgray{
	background:#919191 !important;
}
.gray{
	background:#484848 !important;
	color:#fff !important;
}
.redBG{
	background:#fa2100 !important;
	color:#fff !important;
}
/* text editor */
.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}
.ta-scroll-window > .ta-bind {
  height: auto;
  min-height: 300px;
  padding: 6px 12px;
}
.ta-hidden-input{
	display: none;
}
/* client only */
.create-project{
	margin-top:-65px;
	padding-bottom:45px
}
.newAuditionProjectForm .website{
	display:none;
}
footer{
  text-align:center;
}
/* fixed header */
@media(max-width: 1160px){
	.create-project{
		background:#000;
		margin-top:0;
		padding-bottom:0;
	}
}
/* various */
.processing{
  position: absolute;
  top:0;
  left:0;
  z-index:9999;
  background:rgb(0,0,0);
  background:rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
}
