
	<p>Dear {{user.firstName}}, </p>

<p>Welcome to the Team! Your Official Studio Center Client Account has been created!</p>

<p>Click this link to get started! <a href="http://www.studiocenterauditions.com">http://www.studiocenterauditions.com</a>.</p>

<p>Your User Name is: {{user.username}}</p>

<p>and Your Password is :  {{password}}</p>

<p>You only need this one password for all your projects so hanging onto it is a must.</p>

<p>Once you log in, you may;</p>

<ul>
	<li>Start a New Audition Project</li>
	<li>Check on an existing Audition Project</li>
	<li>Go directly to Studiocenter.com and listen to Our wide selection of Talent Demos, or</li>
	<li>Update your Account Information</li>
</ul>

<p>If you have any questions, shoot me an email and I’ll be sure to help you out!</p>

<p>Thank you for your business! </p>

{% autoescape false %}{{emailSignature}}{% endautoescape %}
