<section data-ng-controller="ToolsController" data-ng-init="findNewProjectById()">
	<div class="page-header">
		<h1>View New Project Submission</h1>
	</div>
  <div>
    <pre>{{newproject.project}}</pre>
    <div ng-if="newproject.attachements">
			<h3>Attachments</h3>
      <ol>
        <li data-ng-repeat="attachement in newproject.attachements">
          <a href="/res/scripts/temp/{{attachement.file.name}}" target="_blank">{{attachement.file.name}}</a>
        </li>
      </ol>
    </div>
  </div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="newproject.created | date:'mediumDate'"></span>
		</em>
	</small>
</section>
