<section data-ng-controller="ToolsController">
    <div class="page-header">
        <h1>Upload Talents</h1>
    </div>
    <div class="col-md-12">
        <div>
          <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
    	<div class="row">
            <div class="col-md-12">
                <h4>Upload Talent File: (*.csv only!)</h4>

                <div ng-file-drop ng-file-select="uploadTalentFile($files)" ng-model="files" ng-model-rejected="rejFiles"
                 drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
                 ng-multiple="true" ng-accept="'*.csv'"
                 drop-available="dropAvailable">
                    <div ng-hide="dropAvailable">File Drop not available</div>
                    <div ng-show="dropAvailable">Drop *.csv files..</div>
                    <div>or click to select</div>
                </div>
            </div>
            <div ng-if="failed.length > 0">
                <h3>Failed Imports</h3>
                <div ng-repeat="fail in failed">
                    <div>Name: {{fail.name}}</div>
                    <table class="table table-striped">
                        <tr>
                            <th>Reason</th>
                            <th>Value</th>
                        </tr>
                        <tr ng-repeat="(key, curReason) in fail.reason">
                            <td>{{key}}</td>
                            <td>{{curReason}}</td>
                        </tr>  
                </div>
            </div>
            <!-- <div class="col-md-1" style="text-align:center">
                <h2>OR</h2>
            </div>
            <div class="col-md-6">
                <form>

                    <p>Enter your Google Spreadsheet key, and username/email address, and password</p>
                    <div class="form-group">
                        <label for="spreadsheetkey">Spreadsheet Key</label>
                        <input type="text" class="form-control" name="spreadsheetkey" ng-model="google.spreadsheetkey" required>
                    </div>
                    
                    <button style="float:right" class="btn btn-primary" ng-click="processGoogleSheet()">Submit</button>

                </form>
            </div> -->
        </div>
    </div>

    <div class="container" style="position:fixed;bottom:0;background:#fff;z-index:999;padding-top:5px">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <ul style="clear:both" ng-show="rejFiles.length > 0" class="response">
                    <li class="sel-file" ng-repeat="f in rejFiles">
                        Rejected file: {{f.name}} - size: {{f.size}}B - type: {{f.type}}
                    </li>
                </ul>
                <div data-ng-bind="uploadStatus"></div>
                <progressbar value="uploadprogress" type="success" ng-model="upload"><b>{{uploadfile}}</b></progressbar>
            </div>
        </div>
    </div>
</section>