
	<div class="list-group">
    	<div class="row">
    		{% if count %}
				{% for key, curproject in results %}
				<h4><a href="http://studiocenterauditions.com/#!/projects/{{curproject.project._id}}" target="_blank">{{curproject.project.title}}</a></h4>
					{% if curproject.missingAudsCnt > 0 %}
						{% for curtalent in curproject.talents %}
							<div>{{curtalent.name | safe}} - {{curtalent.status | safe}}</div>
						{% endfor %}
					{% else %}
						<p>No Missing Talent.</p>
					{% endif %}
				{% endfor %}
			{% else %}
				<p>No missing auditions found.</p>
			{% endif %}
    	</div>
    </div>
