<style>
.content .container{
  width:100%;
  padding:0;
}
</style>
<img src="/img/auditions-new-proj-banner.jpg" class="img-responsive" style="width:100%;height:auto" alt="studio center auditions banner">
<div class="row">
  <div class="col-md-8 col-md-offset-2" style="padding-bottom:75px">
<section data-ng-controller="ClientsController" data-ng-init="leadFormPop()">
  <div class="page-header">
    <h1 style="text-align:center">Start A New Audition Project</h1>
  </div>
  <div class="col-md-12" style="padding-bottom:75px">
    <form name="newAuditionProjectForm" data-ng-submit="lead()" class="signin form-horizontal newAuditionProjectForm" autocomplete="off">
      <fieldset>
        <div class="form-group">
          <label for="firstName">First Name: *</label>
          <input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="newLead.firstName" placeholder="First Name" value="{{user.firstName}}" required>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name: *</label>
          <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="newLead.lastName" placeholder="Last Name" value="{{user.lastName}}" required>
        </div>
        <div class="form-group">
          <label for="company" class="control-label">Company: *</label>
          <input type="text" name="company" data-ng-model="newLead.company"  placeholder="Company" value="" size="60" maxlength="128" class="form-control" value="{{user.company}}" required />
        </div>
        <div class="form-group">
          <label for="phone" class="control-label">Phone: *</label>
          <input type="text" name="phone" data-ng-model="newLead.phone"  placeholder="Phone" size="60" maxlength="128" class="form-control" value="{{user.phone}}" required />
        </div>
        <div class="form-group">
          <label for="email" class="control-label">Email: *</label>
          <input class="form-control" type="email" name="email"  placeholder="Email" data-ng-model="newLead.email" size="60" value="{{user.email}}" required />
          <input type="text" name="website" data-ng-model="newLead.website" placeholder="Website" size="60" maxlength="128" class="form-control website" />
        </div>
        <div class="form-group">
          <label for="describe" class="control-label">Please describe your audio project. *</label>
          <textarea name="describe" data-ng-model="newLead.describe" cols="60" rows="5" class="form-control" required></textarea>
        </div>
        <div class="form-group">
          <div class="panel panel-default">
            <div class="panel-heading"> <strong>Scripts (Any file type)</strong> </div>
            <div class="panel-body">
              <div ng-if="rejFiles.length > 0">
                <ul style="clear:both" ng-show="rejFiles.length > 0" class="response">
                  <li class="sel-file" ng-repeat="f in rejFiles"> Rejected file: {{f.name}} - size: {{f.size}}B - type: {{f.type}} </li>
                </ul>
              </div>
              <div class="clearfix" style="padding-bottom:5px">
                <div ng-file-drop ng-file-select="uploadTempScript($files)" ng-model="files" ng-model-rejected="rejFiles"
                   drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
                   ng-multiple="true" ng-accept="'*'"
                   drop-available="dropAvailable">
                  <div ng-hide="dropAvailable">File Drop not available</div>
                  <div ng-show="dropAvailable">Drop File</div>
                  <div>or click to select</div>
                </div>
              </div>
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="(key, script) in newProject.scripts">
                  <div class="row">
                  <div class="col-lg-11 col-md-11 col-sm-11"> <strong>{{key+1}}.</strong> <a href="/res/scripts/temp/{{script.file.name | encodeUri}}" target="_blank" data-ng-bind="script.file.name"></a> </div>
                  <div class="col-lg-1 col-md-1 col-sm-1">
                    <button ng-click="delTempScript(key)" target="_blank" class="btn btn-danger">Delete</button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="form-group" style="text-align:center">
          <input type="submit" value="Submit" class="btn btn-primary" ng-disabled="myForm.newLead.$dirty && myForm.newLead.$invalid ||
  myForm.email.$dirty && myForm.email.$invalid">
        </div>
        <div data-ng-show="error" class="text-danger"> <strong data-ng-bind="error"></strong> </div>
      </fieldset>
    </form>
  </div>
  <div class="container" style="position:fixed;bottom:0;background:#fff;z-index:999;padding-top:5px">
        <div class="row">
            <div class="col-md-8">
                <div data-ng-bind="uploadStatus"></div>
                <progressbar value="uploadprogress" type="success" ng-model="upload"><b>{{uploadfile}}</b></progressbar>
            </div>
        </div>
    </div>
  </div>
</section>
</div>
</div>
