<section class="row" data-ng-controller="UsersController" data-ng-init="findOne()">
	<h3 class="col-md-12 text-center">Edit your profile</h3>
	<div class="col-md-12">
		<form name="userForm" data-ng-submit="update(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="useredit.firstName" placeholder="First Name" required>
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="useredit.lastName" placeholder="Last Name" required>
				</div>
				<div class="form-group">
					<label for="email">Company</label>
					<input type="company" id="company" name="company" class="form-control" data-ng-model="useredit.company" placeholder="Company" required>
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="useredit.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="useredit.username" placeholder="Username" required>
				</div>
				<div class="form-group">
					<label>Password</label><br/>
					<input type="text" id="newpassword" name="newpassword" class="form-control" data-ng-model="useredit.newpassword" placeholder="Password" required>
				</div>
				<div class="form-group">
					<label for="phone">Phone Number</label>
					<input type="text" id="phone" name="phone" class="form-control" data-ng-model="useredit.phone" placeholder="Phone Number">
				</div>
				<div class="form-group">
					<label for="notes">Notes</label>
					<textarea id="notes" name="notes" class="form-control" data-ng-model="useredit.notes">{{useredit.notes}}</textarea>
				</div>
				<div class="form-group" ng-if="useredit.roles[0] !== 'client' && useredit.roles[0] !== 'client-client'">
					<label for="notes">Email Signature</label>
					<div text-angular ng-model="useredit.emailSignature"></div>
				</div>
				<div class="form-group">
					<label for="roles">User Role</label>
					<select id="roles" name="roles" data-ng-model="useredit.roles" class="form-control">
						<option value="{{item}}" ng-repeat="item in roleOpts">{{item}}</option>
					</select>
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Save Profile</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
