<section data-ng-controller="UsersController" data-ng-init="findLimitWithFilter()">
    <div class="page-header">
        <h1>Users</h1>
        <a class="btn btn-primary" href="#!/usersedit/create">Create New User</a>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <label>Search by First Name:</label>
        <input ng-model="filter.fName" class="form-control" ng-change="findLimitWithFilter()">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <label>Search by Last Name:</label>
        <input ng-model="filter.lName" class="form-control" ng-change="findLimitWithFilter()">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <label>Search by Email:</label>
        <input ng-model="filter.email" class="form-control" ng-change="findLimitWithFilter()">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <label>Search by Company:</label>
        <input ng-model="filter.company" class="form-control" ng-change="findLimitWithFilter()">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
          <label>Main Clients Only:</label>
          <input ng-change="findLimitWithFilter()" type="checkbox" ng-model="filter.roles" ng-true-value="'client'" ng-false-value="''" class="form-control">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
          <label>Additional Clients Only:</label>
          <input ng-change="findLimitWithFilter()" type="checkbox" ng-model="filter.roles" ng-true-value="'client-client'" ng-false-value="''" class="form-control">
      </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <select ng-init="limit = 20" ng-model="limit" class="form-control" ng-change="findLimitWithFilter()">
                <option value="5" selected>Show 5 per page</option>
                <option value="10">Show 10 per page</option>
                <option value="15">Show 15 per page</option>
                <option value="20">Show 20 per page</option>
                <option value="30">Show 30 per page</option>
                <option value="50">Show 50 per page</option>
                <option value="100">Show 100 per page</option>
                <option value="200">Show 200 per page</option>
            </select>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2">
          <p style="margin-top:27px">
            {{(limit*currentPage)+1}}-{{limit*(currentPage+1)}} User(s) of {{usersTotalCnt}}
          </p>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10">
          <div class="text-center">
          <ul class="pagination">
              <li ng-class="{disabled: currentPage == 0}">
                  <a href ng-click="changePage(currentPage-1)">« Prev</a>
              </li>
              <li ng-repeat="n in range(0, Math.floor(usersTotalCnt/limit))" ng-class="{active: n == currentPage}" ng-click="setPage()">
                  <a href ng-bind="n + 1">1</a>
              </li>
              <li ng-class="{disabled: currentPage == Math.floor(usersTotalCnt/limit)}">
                  <a href ng-click="changePage(currentPage+1)">Next »</a>
              </li>
          </ul>
          </div>
      </div>
    </div>
    <div class="list-group item-list">
        <a data-ng-repeat="user in users" data-ng-href="#!/usersedit/{{::user._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Created
				<span data-ng-bind="user.created | amDateFormat:'MM/DD/YY h:mm:ss a'"></span>
				by
				<span data-ng-bind="user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading">Username: {{::user.username}}<br> Company: {{::user.company}}<br> Name: {{::user.displayName}}<br> Email: {{::user.email}}<br> Phone: {{::user.phone}}<br> Roles: {{::user.roles}}</h4>
          <p>Notes: {{::user.notes}}</p>
        </a>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2">
          <p style="margin-top:27px">
            {{(limit*currentPage)+1}}-{{limit*(currentPage+1)}} User(s) of {{usersTotalCnt}}
          </p>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10">
          <div class="text-center">
          <ul class="pagination">
              <li ng-class="{disabled: currentPage == 0}">
                  <a href ng-click="changePage(currentPage-1)">« Prev</a>
              </li>
              <li ng-repeat="n in range(0, Math.floor(usersTotalCnt/limit))" ng-class="{active: n == currentPage}" ng-click="setPage()">
                  <a href ng-bind="n + 1">1</a>
              </li>
              <li ng-class="{disabled: currentPage == Math.floor(usersTotalCnt/limit)}">
                  <a href ng-click="changePage(currentPage+1)">Next »</a>
              </li>
          </ul>
          </div>
      </div>
    </div>
</section>
