
	<p>We have a {{requestedTxt}}audition for you that is due {{dueDate}} EST</p>

	{% autoescape false %}{{part}}{% endautoescape %}

	<p>{% autoescape false %}{{email.scripts}}{% endautoescape %}</p>

	<p>{% autoescape false %}{{email.referenceFiles}}{% endautoescape %}</p>

	<p>Please record the Linked script(s) and send to us using the link below or call the Talent Department to schedule an audition in the Studio Center location nearest to you. (call 866-515-2111)</p>

	<p><strong>**How to Submit Auditions**</strong></p>
	<p>To submit auditions click this link:<br>
	http://remote.studiocenter.com:8000</p>

	<p>Then enter the username:   scauds</p>

	<p>Leave the password blank and click Log In.</p>

	<p>Drag your MP3 files, one at a time, into the center of the browser window.  You will see them listed in the window as you do.  Once they all are there, click Begin Upload. That's it!</p>

	<p>You will see a progress counter as they upload and when they are done you will see a confirmation screen telling you if they were successfully received or not.  If it says that the upload was successful, that's it!  We have your audition!<br>
	It’s extremely important that you name your MP3 files carefully.  So please make sure any audition you upload to us uses the following naming scheme:</p>

	<p>AuditionTitle-PartName-YourName</p>

	<p>So if your name is Dave Smith and you did the audition for the announcer on a spot for Home Depot, you would call the file:</p>

	<p>HomeDepot-Anncr-DaveSmith</p>

	<p>And if there is more than 1 script, you will need to provide separate files for each and designate them with the script names.</p>

	<p>HomeDepot-Script 1-Anncr-DaveSmith<br>
	HomeDepot-Script 2-Anncr-DaveSmith</p>

	<p>As well, when reading for multiple parts, submit separate, edited files for each part. See below</p>

	<p>HomeDepot-Anncr-DaveSmith<br>
	HomeDepot-Salesman-DaveSmith</p>

	{% autoescape false %}{{emailSignature}}{% endautoescape %}
