
	<p>We have a {{requestedTxt}}audition for you that is due {{dueDate}} EST</p>

	{{part|safe}}

	<p>{{email.scripts|safe}}</p>

	<p>{{email.referenceFiles|safe}}</p>

	<p>Please record the Linked script(s) and e-mail the mp3(s) to <a href="mailto:auds@studiocenter.com">auds@studiocenter.com</a> or call the Talent Department to 
		schedule an audition in the Studio Center location nearest to you. (call 866-515-2111)</p>

	<p>It’s extremely important that you name your MP3 files carefully.  So please make sure any audition you send to us uses the following naming scheme:</p>

	<p>AuditionTitle-PartName-YourName</p>

	<p>So if your name is Dave Smith and you did the audition for the announcer on a spot for Home Depot, you would call the file:</p>

	<p>HomeDepot-Anncr-DaveSmith</p>

	<p>And if there is more than 1 script, you will need to provide separate files for each and designate them with the script names.</p>

	<p>HomeDepot-Script 1-Anncr-DaveSmith<br>
	HomeDepot-Script 2-Anncr-DaveSmith</p>

	<p>As well, when reading for multiple parts, submit separate, edited files for each part. See below</p>

	<p>HomeDepot-Anncr-DaveSmith<br>
	HomeDepot-Salesman-DaveSmith</p>

	{{emailSignature|safe}}
