<p>Tenemos {{requestedTxt}}una audición para usted que necesita entregar a mas tardar{{dueDate}} EST</p>

{% autoescape false %}{{part}}{% endautoescape %}

<p>{% autoescape false %}{{email.scripts}}{% endautoescape %}</p>

<p>{% autoescape false %}{{email.referenceFiles}}{% endautoescape %}</p>
<p>Graba los guiones y envíalos como MP3 por correo electrónico a auds@studiocenter.com o llama al Departamento de
	Talento para programar una audición en las oficinas de Studio Center más cercanas a ti. (Llamar al 866-515-2111)
	Es extremadamente importante que nombres tus archivos MP3 con cuidado. Por favor, asegúrate de que cualquier
	audición que nos envíes utiliza el siguiente sistema para nombrarlos:</p>


<p>TituloDeLaAudicion-Role-SuNombre</p>

<p>Ejemplo:</p>

<p>HomeDepot-Anncr-MateoGarcia</p>

<p>Si hay mas de un guión favor de crear archivos distintos.</p>

<p>HomeDepot-Guión1-Anncr-MateoGarcia<br>
	HomeDepot-Guión2-Anncr-MateoGarcia</p>

<p>Igualmente si tienen mas de un role.</p>

<p>HomeDepot-Anncr-MateoGarcia<br>
	HomeDepot-Man1-MateoGarcia</p>

{% autoescape false %}{{emailSignature}}{% endautoescape%}