<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body>

	<p><a href="http://studiocenterauditions.com/#!/projects/{{project._id|string}}">View {{project.title}} project page.</a></p>
	
	{% autoescape false %}{{talentPosted}}{% endautoescape %}

	{% autoescape false %}{{talentNotCalled}}{% endautoescape %}

	{% autoescape false %}{{talentNotPosted}}{% endautoescape %}

	{% autoescape false %}{{talentOut}}{% endautoescape %}

	{% autoescape false %}{{emailSignature}}{% endautoescape %}

</body>

</html>