<section data-ng-controller="LogsController" data-ng-init="getLogsCount();listTypeFilter()">
    <div class="page-header">
        <h1>Logs</h1>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <label>Search:</label> <input ng-model="searchString" class="form-control" ng-change="listTypeFilter()">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <label>Filter logs by type:</label><br>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary" ng-model="searchText.type" btn-radio="'project'" ng-click="listTypeFilter('', 'project')">Project</label>
                <label class="btn btn-primary" ng-model="searchText.type" btn-radio="'talent'" ng-click="listTypeFilter('', 'talent')">Talent</label>
                <label class="btn btn-primary" ng-model="searchText.type" btn-radio="'system'" ng-click="listTypeFilter('', 'system')">System</label>                
                <label class="btn btn-primary" ng-model="searchText.type" btn-radio="'error'" ng-click="listTypeFilter('', 'error')">Error</label>
                <label class="btn btn-primary" ng-model="searchText.type" btn-radio="''" ng-click="listTypeFilter()">All</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
        	<h4></h4>
            <select ng-init="limit = 300" ng-model="limit" class="form-control" ng-change="listTypeFilter()">
                <option value="5" selected>Show 5 per page</option>
                <option value="10">Show 10 per page</option>
                <option value="15">Show 15 per page</option>
                <option value="20">Show 20 per page</option>
                <option value="30">Show 30 per page</option>
                <option value="50">Show 50 per page</option>
                <option value="100">Show 100 per page</option>
                <option value="200">Show 200 per page</option>
                <option value="300">Show 300 per page</option>
                <option value="400">Show 400 per page</option>
				<option value="500">Show 500 per page</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <p style="margin-top:27px">{{logCnt}} Note(s) Found | Showing {{logs.length}}</p>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10">
            <div class="text-center">
            <ul class="pagination">
                <li ng-class="{disabled: currentPage == 0}">
                    <a href ng-click="listTypeFilter(currentPage-1)">« Prev</a>
                </li>
                <li ng-repeat="n in range(0, Math.floor(logCnt/limit))" ng-class="{active: n == currentPage}" ng-click="setPage()">
                    <a href ng-bind="n + 1">1</a>
                </li>
                <li ng-class="{disabled: currentPage == Math.floor(logCnt/limit)}">
                    <a href ng-click="listTypeFilter(currentPage+1)">Next »</a>
                </li>
            </ul>
            </div>
        </div>
    </div>
    <div class="list-group">
        <div data-ng-repeat="log in filtered = (logs)" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="log.created | amDateFormat:'MM/DD/YY h:mm:ss a'"></span>
				by
				<span data-ng-bind="log.user.displayName"></span>
			</small>
			<p>
                <strong>Log Type:</strong>
                <a ng-if="log.type == 'project'" href="/#!/projects/{{::log.sharedKey}}" target="_blank">{{::log.type}}</a>
                <a ng-if="log.type == 'talent'" href="/#!/talents/{{::log.sharedKey}}" target="_blank">{{::log.type}}</a>
                <span ng-if="log.type == 'system'">{{::log.type}}</span>
            </p>
			<h4 class="list-group-item-heading" data-ng-bind="log.description"></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="text-center">
          <ul class="pagination">
              <li ng-class="{disabled: currentPage == 0}">
                  <a href ng-click="listTypeFilter(currentPage-1)">« Prev</a>
              </li>
              <li ng-repeat="n in range(0, Math.floor(logCnt/limit))" ng-class="{active: n == currentPage}" ng-click="setPage()">
                  <a href ng-bind="n + 1">1</a>
              </li>
              <li ng-class="{disabled: currentPage == Math.floor(logCnt/limit)}">
                  <a href ng-click="listTypeFilter(currentPage+1)">Next »</a>
              </li>
          </ul>
          </div>
        </div>
    </div>
</section>
