<section data-ng-controller="TypecastsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="typecast.name"></h1>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<h3>Attributes</h3>
			<form class="form-horizontal" data-ng-submit="addAttribute()" novalidate>
				<div class="input-group">
			      <input type="text" ng-model="newAtrribute" class="form-control" placeholder="Add New Attribute">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="submit">Save</button>
			      </span>
			    </div>
			</form>
			<h3>Existing Attributes</h3>
			<ul class="list-group">
  				<li class="list-group-item" ng-repeat="(key, attribute) in typecast.attributes">
  					<a href="#" class="glyphicon glyphicon-remove" ng-click="removeAttribute(key)"></a>
  					{{attribute}} 
  				</li>
  			</ul>
		</div>
	</div>
	<div class="pull-right" data-ng-show="permitAdminDirector()">
		<a class="btn btn-primary" href="/#!/typecasts/{{typecast._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="typecast.created | amDateFormat:'MM/DD/YY h:mm:ss a'"></span>
			by
			<span data-ng-bind="typecast.user.displayName"></span>
		</em>
	</small>
</section>