<section data-ng-controller="ProjectsController" data-ng-init="find()">
	<div class="row" style="margin-top:20px">
		<div class="col-md-12">
			<div class="text-center">
				<p>
					<a class="btn btn-primary btn-lg" href="#!/projects/new-audition-form" target="_blank">Start A New Audition Project</a>
				</p>
				<p>
					<img src="/img/sc-logo-black.png" alt="Studio Center logo image">
				</p>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top:20px">
		<div class="col-md-12">
			<select ng-model="selectedProject" ng-init="selectedProject = ''" class="form-control" ng-change="findOneById(selectedProject)">
				<option value="">Pick Your Project</option>
				<option ng-repeat="project in projects" value="{{project._id}}" >{{project.title}} Due {{project.estimatedCompletionDate | date:'short'}} EST</option>
			</select>
		</div>
	</div>
	
	<div ng-if="project.title">

		<div class="row">
			<div class="col-md-12">
				<div class="page-header jumbotron" ng-class="{redBG: project.status == 'In Progress' && checkPassed(project.estimatedCompletionDate), greenBg: project.status == 'Booked', lgreenBG: project.status == 'Closed - Pending Client Decision', orangeBG: project.status == 'On Hold', lgray: project.status == 'Cancelled', mgray: project.status == 'ReAuditioned', gray: project.status == 'Dead', blueBg: project.status == 'In Progress' && compareDates(project.estimatedCompletionDate),lblueBG: project.status == 'In Progress', yellowBg: project.sounders == 'No Sounders - Approved By William' && compareDates(project.estimatedCompletionDate), lyellowBg: project.sounders == 'No Sounders - Approved By William'}">
					<p><strong>{{project.title}} Due {{project.estimatedCompletionDate | amDateFormat:'MM/DD/YY h:mm:ss a'}} EST {{project.status[0]}}</strong></p>
				</div>
			</div>

		</div>

		<div class="row audition" ng-if="project.auditions.length > 0">

			<div class="panel panel-default">
			  	<div class="panel-heading">
			  		<div class="row">
						<div class="col-md-12" style="text-align:center">
							<h4 style="padding:0">Sort By</h4>
						</div>
					</div>
				  	<div class="row">
						<div class="col-md-3" style="text-align:center">
							<a href="" ng-click="predicate = 'file.name'; reverse=false">Name</a>
							(<a href="" ng-click="predicate = '-file.name'; reverse=false">^</a>)
						</div>
						<div class="col-md-3" style="text-align:center">
							<a href="" ng-click="predicate = '-avgRating'; reverse=false">Rating</a>
							(<a href="" ng-click="predicate = 'avgRating'; reverse=false">^</a>)
						</div>
						<div class="col-md-3" style="text-align:center">
							<a href="" ng-click="predicate = '-favorite'; reverse=false">Favorite</a>
							(<a href="" ng-click="predicate = 'favorite'; reverse=false">^</a>)
						</div>
						<div class="col-md-3" style="text-align:center">
							[ <a href="" ng-click="predicate=''">unsorted</a> ]
						</div>
					</div>
				</div>
				
				<div class="panel-body">
					<div class="row">
						<ul class="list-group" style="margin-top:20px">
							<li class="list-group-item" ng-if="isDisplayed(audition.file.path)" ng-repeat="(key, audition) in project.auditions | orderBy:predicate:reverse">

								<fieldset>
									<input type="checkbox" ng-click="selAudition(audition.file.path)" ng-checked="selCheck(audition.file.path)" ng-model="selectedAuditions" ng-true-value="{{key}}">
									<strong>{{key+1}}.</strong> <a href="/res/auditions/{{project._id}}/{{audition.file.name | encodeUri}}" target="_blank" data-ng-bind="audition.file.name" class="inline-playable">ngAudio</a> 
								
									<rating ng-model="audition.avgRating" readonly="false" ng-click="updateRating(audition.file.path, false)" max="max" on-leave="overStar = audition.avgRating" on-hover="hoveringOver(value,key)"></rating>
								
									<span ng-show="verifyAudio(key)">
										<button ng-click="playAudio(key, audition.file.name)" class="btn btn-primary">Play</button> 
										<button ng-click="stopAudio()" class="btn btn-primary">Stop</button>
									</span>

									<span ng-if="audition.favorite == 1">
										<a href="" ng-click="updateFavorite(audition.file.path, false)"><img src="/img/gold-trophy.png" alt="favorited audition"></a>
									</span>
									<span ng-if="audition.favorite != 1">
										<a href="" ng-click="updateFavorite(audition.file.path, false)"><img src="/img/gray-trophy.png" alt="favorited audition"></a>
									</span>

								</fieldset>

							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-4" style="text-align:center">
							<a href="" class="btn btn-primary" ng-click="hideSelectedAuditions()">
								<span ng-if="hideSelected == false">
								Hide Selected
								</span>
								<span ng-if="hideSelected == true">
								Show Hidden
								</span>
							</a>
						</div>
						<div class="col-md-4" style="text-align:center">
							<div ng-if="selectedAuditions.length > 0">
								<a href="" class="btn btn-primary" ng-click="bookSelectedAuditions()">Book Selected</a>
							</div>
						</div>
						<div class="col-md-4" style="text-align:center">
							<a href="" class="btn btn-primary" ng-click="downloadAllAuditions()">Download All</a>
						</div>
					</div>

				</div>
			</div>

		</div>

		
	</div>

</section>