<section data-ng-controller="ProjectsController" data-ng-init="userCheck()">
    <div class="page-header">
        <h1>New Project</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Title</label>
                    <div class="controls">
                        <input type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Due Date/Time (Click to select date and time)</label>
                    <div class="controls">
                        <div class="dropdown">
                            <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
                                <div class="input-append"><input type="text" class="input-large" data-ng-model="project.estimatedCompletionDate" ng-required><span class="add-on"><i
                                        class="icon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="project.estimatedCompletionDate"
                                                data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Status</label>
                    <div class="controls">
                        <select ng-model="status" ng-init="status = statusOpts[0]" required>
                            <option ng-repeat="item in statusOpts" value="{{item}}">{{item}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Description</label>
                    <div class="controls">
                        <textarea type="date" data-ng-model="description" id="description" class="form-control" ></textarea>
                    </div>
                </div>

                <div data-ng-bind="uploadStatus"></div>
                <progressbar value="uploadprogress" type="success" ng-model="upload"><b>{{uploadfile}}</b></progressbar>
                
                <div class="form-group">
                    <label class="control-label" for="name">Script (PDF only!)</label>
                    <div class="controls">
                        <input type="file" ng-file-select="uploadTempScript($files)" ng-model="files" ng-accept="'*.pdf'" ng-model-rejected="rejFiles" required>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>