<section data-ng-controller="ProjectsController" data-ng-init="userCheck()">
    <div class="page-header">
        <h1>New Project</h1>
    </div>
    <div class="col-md-12" style="padding-bottom:75px">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Title</label>
                    <div class="controls">
                        <input type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Due Date/Time (Click to select date and time)</label>
                    <div class="controls">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                                <div class="input-group">
                                    <input type="text" class="form-control" data-ng-model="estimatedCompletionDate">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="estimatedCompletionDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                            </ul>
                            <div style="color:red;font-weight:700">{{dateNotice}}</div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="name">Clients for the project</label>
                    <div class="controls">
                        <script>
                          var users = angular.module("users", []);
                          users.controller("UsersController", function($scope) {
                              $scope.users = Users.query();
                          });
                        </script>
                        <div class="controls" ng-module="users">
                            <div ng-controller="UsersController" data-ng-init="findFilter('client')">
                                <label>Search:</label> <input ng-model="filterClient">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="(key, user) in users | filter:filterClient"><input type="checkbox" value="{{user._id}}" ng-click="updateCreateClient(user._id, user.displayName, user.email)" ng-checked="checkClientUsersCreate(user._id)"> {{user.firstName}} {{user.lastName}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Description</label>
                    <div class="controls">
                        <textarea type="date" data-ng-model="description" id="description" class="form-control" ></textarea>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="name">Script (PDF only!)</label>
                    <div class="controls">
                        <input type="file" ng-file-select="uploadTempScript($files)" ng-model="files" ng-accept="'*.pdf'" ng-model-rejected="rejFiles" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Talent</label>
                    <div class="controls">
                        <script>
                          var talents = angular.module("talents", []);
                          talents.controller("TalentsController", function($scope) {
                              $scope.talents = Users.query();
                          });
                        </script>
                        <div class="controls" ng-module="talents">
                            <div ng-controller="TalentsController" data-ng-init="find()">
                                <label>Search:</label> <input ng-model="filterTeam">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="(key, talent) in talents | filter:filterTeam"><input type="checkbox" value="{{talent._id}}" ng-click="updateCreateTalent(talent._id, talent.name)" ng-checked="checkCreateTalent(talent._id)"> {{talent.name}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Status</label>
                    <div class="controls">
                        <select ng-model="status" ng-init="status = statusOpts[0]" required>
                            <option ng-repeat="item in statusOpts" value="{{item}}">{{item}}</option>
                        </select>
                    </div>
                </div>

                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>
    <div class="container" style="position:fixed;bottom:0;background:#fff;z-index:999;padding-top:5px">
        <div class="row" data-ng-show="permitAdminDirector()">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <ul style="clear:both" ng-show="rejFiles.length > 0" class="response">
                    <li class="sel-file" ng-repeat="f in rejFiles">
                        Rejected file: {{f.name}} - size: {{f.size}}B - type: {{f.type}}
                    </li>
                </ul>
                <div data-ng-bind="uploadStatus"></div>
                <progressbar value="uploadprogress" type="success" ng-model="upload"><b>{{uploadfile}}</b></progressbar>
            </div>
        </div>
    </div>
</section>