<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Project</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Title</label>
                    <div class="controls">
                        <input type="text" data-ng-model="project.title" id="title" class="form-control" placeholder="Title" required>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="control-label" for="name">Estimated Completion Date</label>
                    <div class="controls">
                        <input type="date" data-ng-model="project.estimatedCompletionDate" id="estimatedCompletionDate" class="form-control" placeholder="Estimated Completion Date" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Estimated Time</label>
                    <div class="controls">
                        <input type="text" data-ng-model="project.estimatedTime" id="estimatedTime" class="form-control" placeholder="Estimated Time">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Actual Time</label>
                    <div class="controls">
                        <input type="text" data-ng-model="project.actualTime" id="actualTime" class="form-control" placeholder="Estimated Time">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Status</label>
                    <div class="controls">
                        <select ng-model="project.status" required>
                            <option ng-repeat="item in statusOpts" value="{{item}}">{{item}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Priority</label>
                    <div class="controls">
                        <select ng-model="project.priority" required>
                            <option ng-repeat="item in priorityOpts" value="{{item}}">{{item}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Description</label>
                    <div class="controls">
                        <textarea data-ng-model="project.description" id="description" class="form-control" ></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>