<section data-ng-controller="ProjectsController" data-ng-init="leadFormPop()">
  <div class="page-header">
    <h1>Start A New Audition Project</h1>
  </div>
  <form name="newAuditionProjectForm" data-ng-submit="lead()" class="signin form-horizontal" autocomplete="off">
    <fieldset>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="newLead.firstName" placeholder="First Name" value="{{user.firstName}}" required>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="newLead.lastName" placeholder="Last Name" value="{{user.lastName}}" required>
      </div>
      <div class="form-group">
        <label for="company" class="control-label">Company: </label>
        <input type="text" name="company" data-ng-model="newLead.company"  placeholder="Company" value="" size="60" maxlength="128" class="form-control" value="{{user.company}}" required />
      </div>
      <div class="form-group">
        <label for="phone" class="control-label">Phone: *</label>
        <input type="text" name="phone" data-ng-model="newLead.phone"  placeholder="Phone" size="60" maxlength="128" class="form-control" value="{{user.phone}}" required />
      </div>
      <div class="form-group">
        <label for="email" class="control-label">Email: *</label>
        <input class="form-control" type="email" name="email"  placeholder="Email" data-ng-model="newLead.email" size="60" value="{{user.email}}" required />
      </div>
      <div class="form-group">
        <label for="describe" class="control-label">Please describe your audio project. *</label>
        <textarea name="describe" data-ng-model="newLead.describe" cols="60" rows="5" class="form-control" required></textarea>
      </div>
      <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-default" ng-disabled="myForm.newLead.$dirty && myForm.newLead.$invalid ||
  myForm.email.$dirty && myForm.email.$invalid">
      </div>
      <div data-ng-show="error" class="text-danger"> <strong data-ng-bind="error"></strong> </div>
    </fieldset>
  </form>
  </div>
</section>
