
<section data-ng-controller="ProjectsController" data-ng-init="loadProject()">
	<div class="page-header">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8">
				<h2 style="margin:0">{{project.title}} <small>Due {{project.estimatedCompletionDate | date:'short'}}</small></h2>
				<h4>Created by {{project.user.displayName}} {{project.created | date:'short'}}</h4>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
					<progressbar value="dynamic" type="success" ng-model="progress"><b>{{dynamic}}%</b></progressbar>
					<div ng-if="permitAdminDirector() === false" class="panel-body" data-ng-bind="project.status" style="text-align:center"></div>
					<select class="form-control" style="display:block;margin:0 auto" ng-if="permitAdminDirector()" ng-model="project.status" ng-change="updateProjectStatus()">
                        <option ng-repeat="item in statusOpts" value="{{item}}">{{item}}</option>
                    </select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading"><strong>Description & Specs</strong></div>
					<div class="panel-body" data-ng-bind="project.description"></div>
				</div>
			</div>
			
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="panel panel-default" data-ng-show="permitAdminDirector()">
					<div class="panel-heading">
		            	<strong>Notes</strong>
		        	</div>
		        	<fieldset>
						<textarea ng-model="discussion" name="discussion" class="form-control"></textarea>
						<button style="float:right" class="btn btn-primary" ng-click="saveDiscussion()">Save</button>
					</fieldset>
					<div style="max-height:200px;padding:10px;border-top:1px solid #e8e8e8;overflow-y:scroll">
						<div ng-repeat="(key, ditem) in project.discussion.slice().reverse()">
							<h5 ng-if="ditem.deleted === true" class="strike-if"><strong>{{ditem.date | date:'short'}} - {{ditem.username}}</strong></h5>
							<h5 ng-if="ditem.deleted === false"><strong>{{ditem.date | date:'short'}} - {{ditem.username}}</strong></h5>
							<div class="clearfix">
								<button ng-show="authentication.user._id === ditem.userid && ditem.deleted === false" style="float:right" class="btn btn-danger" ng-click="deleteDiscussion(key)">Delete</button>
								<p ng-if="ditem.deleted === true" class="strike-if" data-ng-bind="ditem.item"></p>
								<p ng-if="ditem.deleted === false" data-ng-bind="ditem.item"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<fieldset>
					<select class="form-control" style="display:block;margin:0 auto" ng-if="permitAdminDirector()" ng-model="project.sounders" ng-change="update()">
                        <option ng-repeat="item in soundersOpts" value="{{item}}">{{item}}</option>
                    </select>
                </fieldset>
				<accordion close-others="oneAtATime">
					<accordion-group is-open="status.open">
					<accordion-heading data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
						<h4 class="panel-title accordion-toggle">
			            	Scripts<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
			            </h4>
		        	</accordion-heading>
						<div data-ng-show="permitAdminDirector()" class="clearfix" style="padding-bottom:5px">

	                    	<fieldset>
								<h4>Upload Script: </h4>
								<div ng-file-drop ng-file-select="uploadScript($files)" ng-model="files" ng-model-rejected="rejFiles"
		                         drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
		                         ng-multiple="true" ng-accept="'*.pdf'"
		                         drop-available="dropAvailable">
		                            <div ng-hide="dropAvailable">File Drop not available</div>
		                            <div ng-show="dropAvailable">Drop PDFs</div>
		                            <div>or click to select</div>
		                        </div>
							</fieldset>
						</div>
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="(key, script) in project.scripts">
								<fieldset>
									<strong>{{key+1}}.</strong> <a href="/res/scripts/{{project._id}}/{{script.file.name}}" target="_blank" data-ng-bind="script.file.name"></a> 
									<a href="/res/scripts/{{project._id}}/{{script.file.name}}" target="_blank"><img src="/img/Adobe-Acrobat-icon.png" alt="download PDF"></a>
									<button data-ng-show="permitAdminDirector()" ng-click="delScript(key)" target="_blank" class="btn btn-danger">Delete</button>
								</fieldset>
							</li>
						</ul>
					</accordion-group>
				</accordion>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-6">
				<accordion close-others="oneAtATime">
					<accordion-group is-open="status.open">
					<accordion-heading data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
						<h4 class="panel-title accordion-toggle">
			            	Reference Files<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
			            </h4>
		        	</accordion-heading>
						<div data-ng-show="permitAdminDirector()" class="clearfix" style="padding-bottom:5px">
							<h4>Upload Reference: </h4>

							<div ng-file-drop ng-file-select="uploadReferenceFile($files)" ng-model="files" ng-model-rejected="rejFiles"
	                         drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
	                         ng-multiple="true" ng-accept="'*'"
	                         drop-available="dropAvailable">
	                            <div ng-hide="dropAvailable">File Drop not available</div>
	                            <div ng-show="dropAvailable">Drop Anything you would like.</div>
	                            <div>or click to select</div>
	                        </div>

						</div>
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="(key, referenceFile) in project.referenceFiles">
								<fieldset>
									<strong>{{key+1}}.</strong> <a href="/res/referenceFiles/{{project._id}}/{{referenceFile.file.name}}" target="_blank" data-ng-bind="referenceFile.file.name"></a> 
									<a href="/res/referenceFiles/{{project._id}}/{{referenceFile.file.name}}" target="_blank"></a>
									<button data-ng-show="permitAdminDirector()" ng-click="delReferenceFile(key)" target="_blank" class="btn btn-danger">Delete</button>
								</fieldset>
							</li>
						</ul>
						
					</accordion-group>
				</accordion>
			</div>
			
		</div>
		
		<div class="row">

			<div class="col-lg-6 col-md-6 col-sm-6">
				<accordion close-others="oneAtATime">
					<accordion-group is-open="status.open">
					<accordion-heading data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
						<h4 class="panel-title accordion-toggle">
		     	       		Talent<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
		     	       	</h4>
		        	</accordion-heading>
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="(key, member) in project.talent"> <a target="_blank" href="/#!/talents/{{member.talentId}}">{{member.name}}</a></span>
							<fieldset>
								<label>Booked</label>
								<span data-ng-show="permitAdminDirector()"><input type="checkbox" data-ng-model="project.talent[key].booked" ng-checked="project.talent[key].booked" ng-click="toggleBooked(key)"> 
							</fieldset>
							<fieldset>
								<label>Status</label>
								<select data-ng-show="permitAdminDirector()" ng-model="project.talent[key].status" ng-init="project.talent[key].status = project.talent[key].status || talentStatus[0]" class="form-control" ng-change="updateTalentStatus(key)" ng-options="item for item in talentStatus"></select>
								<p data-ng-show="permitAdminDirector() !== true">{{project.talent[key].status}}</p>
							</fieldset>
							</li>
						</ul>
						<accordion close-others="oneAtATime" data-ng-show="permitAdminDirector()">
							<accordion-group is-open="statusInt.open">
							<accordion-heading data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
								<h4 class="panel-title accordion-toggle">
									Edit Talent<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusInt.open, 'glyphicon-chevron-right': !statusInt.open}"></i>
								</h4>
							</accordion-heading>
								<script>
					              var talents = angular.module("talents", []);
					              talents.controller("TalentsController", function($scope) {
					                  $scope.talents = Users.query();
					              });
					            </script>
					            <div class="controls" ng-module="talents">
					                <div ng-controller="TalentsController" data-ng-init="find()">
					                	<label>Search:</label> <input ng-model="filterTeam" class="form-control">
										<ul class="list-group">
											<li class="list-group-item">
												<div class="row">
													<div class="col-lg-1 col-md-1 col-sm-1">
														<b>C</b>
													</div>
													<div class="col-lg-1 col-md-1 col-sm-1">
														<b>R</b>
													</div>
													<div class="col-lg-10 col-md-10 col-sm-10">
														<b>Info</b>
													</div>
												</div>
											</li>
											<li class="list-group-item" ng-repeat="(key, talent) in talents | filter:filterTeam"> 
												<div class="row">
													<div class="col-lg-1 col-md-1 col-sm-1">
														<input type="checkbox" value="{{talent._id}}" ng-click="updateTalent(talent._id, talent.name)" ng-checked="checkTalent(talent._id)">
													</div>
													<div class="col-lg-1 col-md-1 col-sm-1">
														<input type="checkbox" value="{{talent._id}}" ng-click="updateTalent(talent._id, talent.name)" ng-checked="checkTalent(talent._id)">
													</div>
													<div class="col-lg-10 col-md-10 col-sm-10">
														{{talent.name}} {{talent.lastName}} {{talent.locationISDN}} {{talent.outageTimes}}
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</accordion-group>
						</accordion>
					</accordion-group>
				</accordion>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-6">		
				<accordion close-others="oneAtATime">
					<accordion-group is-open="status.open">
					<accordion-heading data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
						<h4 class="panel-title accordion-toggle">
			            	Auditions<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
			            </h4>
		        	</accordion-heading>
				 		<div data-ng-show="permitAdminDirector()" class="clearfix" style="padding-bottom:5px">
							<h4>Upload Audition Files: (*.mp3 only!)</h4>

							<div ng-file-drop ng-file-select="uploadAudition($files)" ng-model="files" ng-model-rejected="rejFiles"
	                         drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
	                         ng-multiple="true" ng-accept="'*.mp3'"
	                         drop-available="dropAvailable">
	                            <div ng-hide="dropAvailable">File Drop not available</div>
	                            <div ng-show="dropAvailable">Drop *.mp3 files..</div>
	                            <div>or click to select</div>
	                        </div>

						</div>
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="(key, audition) in project.auditions">
								<fieldset>
									<strong>{{key+1}}.</strong> <a href="/res/auditions/{{project._id}}/{{audition.file.name}}" target="_blank" data-ng-bind="audition.file.name" class="inline-playable">ngAudio</a> 
								</fieldset>
								<fieldset>
									<span ng-show="verifyAudio(key)">
										<button ng-click="playAudio(key);audio[key].play()" class="btn btn-primary">Play</button> 
										<button ng-click="stopAudio()" class="btn btn-primary">Stop</button>
									</span>
									<button ng-show="showRename === 0" ng-click="showRename = 1" class="btn btn-primary">Rename</button>
									<button data-ng-show="permitAdminDirector()" ng-click="delAudition(key)" class="btn btn-danger">Delete</button>
								</fieldset>
								<fieldset ng-show="showRename">
									<input type="text" ng-model="project.auditions[key].rename" placeholder="Enter new filename" class="form-control">
									<button ng-click="update();showRename = 0;" class="btn btn-primary">Update</button><button ng-click="showRename = 0;" class="btn btn-primary">Cancel</button>
								</fieldset>
								<fieldset>
									<label>Published</label>
									<input type="checkbox" value="true" ng-click="updatePublished(key)" ng-model="project.auditions[key].published">
								</fieldset>
								<fieldset>
									<label>Rating {{project.auditions[key].rating[authentication.user._id]}}</label>
									<rating ng-model="ratings[key]" readonly="false" ng-click="updateRating(key)" max="max" on-leave="overStar = ratings[key]" on-hover="hoveringOver(value,key)"></rating>
									<p data-ng-show="ratingsAvg[key]">Average: 
										<rating ng-model="ratingsAvg[key]" readonly="true" max="max" on-leave="overStar = ratingsAvg[key]" ></rating>
									</p>
								</fieldset>
							</li>
						</ul>
						
				</accordion-group>
				</accordion>
			</div>

			
		</div>
		
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<accordion close-others="oneAtATime" data-ng-show="permitAdminDirector()">
					<accordion-group is-open="status.open">
					<accordion-heading data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
						<h4 class="panel-title accordion-toggle">
		            		Main Clients<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
		            	</h4>
		        	</accordion-heading>
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="(key, member) in project.client"><a target="_blank" href="/#!/usersedit/{{member.userId}}">{{member.name}}</a></li>
						</ul>
						<accordion close-others="oneAtATime">
							<accordion-group is-open="statusInt.open">
							<accordion-heading data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
								<h4 class="panel-title accordion-toggle">
									Edit Main Clients<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusInt.open, 'glyphicon-chevron-right': !statusInt.open}"></i>
								</h4>
							</accordion-heading>
								<script>
					              var users = angular.module("users", []);
					              users.controller("UsersController", function($scope) {
					                  $scope.users = Users.query();
					              });
					            </script>
					            <div class="controls" ng-module="users">
					                <div ng-controller="UsersController" data-ng-init="findFilter('client')">
					                	<label>Search:</label> <input ng-model="filterClient" class="form-control">
										<ul class="list-group">
											<li class="list-group-item" ng-repeat="(key, user) in users | filter:filterClient"><input type="checkbox" value="{{user._id}}" ng-click="updateClient(user._id, user.displayName, user.email)" ng-checked="checkClientUsers(user._id)"> <a target="_blank" href="/#!/usersedit/{{user._id}}">{{user.displayName}}</a></li>
										</ul>
									</div>
								</div>
							</accordion-group>
						</accordion>
					</accordion-group>
				</accordion>

				<accordion close-others="oneAtATime" data-ng-show="permitAdminDirector() || permitClient()">
					<accordion-group is-open="status.open">
					<accordion-heading data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
						<h4 class="panel-title accordion-toggle">
		            		Additional Clients<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
		            	</h4>
		        	</accordion-heading>
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="(key, member) in project.clientClient"><a target="_blank" href="/#!/usersedit/{{member.userId}}">{{member.name}}</a></li>
						</ul>
						<accordion close-others="oneAtATime">
							<accordion-group is-open="statusInt.open">
							<accordion-heading data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
								<h4 class="panel-title accordion-toggle">
									Edit Additional Clients<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusInt.open, 'glyphicon-chevron-right': !statusInt.open}"></i>
								</h4>
							</accordion-heading>
								<script>
					              var users = angular.module("users", []);
					              users.controller("UsersController", function($scope) {
					                  $scope.users = Users.query();
					              });
					            </script>
					            <div class="controls" ng-module="users">
					                <div ng-controller="UsersController" data-ng-init="findFilter('client-client')">
					                	<label>Search:</label> <input ng-model="filterClientClient" class="form-control">
										<ul class="list-group">
											<li class="list-group-item" ng-repeat="(key, user) in users | filter:filterClientClient"><input type="checkbox" value="{{user._id}}" ng-click="updateClientClient(user._id, user.displayName, user.email)" ng-checked="checkClientClientUsers(user._id)"> <a target="_blank" href="/#!/usersedit/{{user._id}}">{{user.displayName}}</a></li>
										</ul>
									</div>
								</div>
							</accordion-group>
						</accordion>
					</accordion-group>
				</accordion>
			</div>
			
			<div class="col-lg-6 col-md-6 col-sm-6">
				<accordion close-others="oneAtATime" data-ng-show="permitAdminDirector() || permitClient() || permitClientClient()">
					<accordion-group is-open="status.open">
					<accordion-heading data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
						<h4 class="panel-title accordion-toggle">
		            	Phases<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
		            	</h4>
		        	</accordion-heading>
					<accordion close-others="oneAtATime">
						<div class="panel panel-default" ng-repeat="(key, phase) in project.phases">
							<div class="panel-heading"><strong>{{project.phases[key].name}}</strong></div>
							<div class="panel-body">
								<span data-ng-show="permitAdminDirector()">
									<label>Status:</label>
									<select ng-model="project.phases[key].status" class="form-control" ng-change="updateStatus(key)" ng-options="item for item in project.phases[key].options">
							        </select>
							        <label>Start Date:</label>
							        <p>{{project.phases[key].startDate | date:'fullDate'}}</p>
							        <label>End Date:</label>
							        <p>{{project.phases[key].endDate | date:'fullDate'}}</p>
					    		</span>
					    		<span data-ng-show="permitClient() || permitClientClient()">
					    			<label>Status:</label>
									<p>{{project.phases[key].status}}</p>
							        <label>Start Date:</label>
							        <p>{{project.phases[key].startDate | date:'fullDate'}}</p>
							        <label>End Date:</label>
							        <p>{{project.phases[key].endDate | date:'fullDate'}}</p>
					    		</span>
					        </div>
						</div>
				    </accordion>
			    </accordion>
			</div>

		</div>
	</div>
	<div class="pull-right" data-ng-show="permitAdminDirector()" style="padding-bottom:75px">
		<a class="btn btn-primary" href="/#!/projects/{{project._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>

	<div class="container" style="position:fixed;bottom:0;background:#fff;z-index:999;padding-top:5px">
		<div class="row" data-ng-show="permitAdminDirector()">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<ul style="clear:both" ng-show="rejFiles.length > 0" class="response">
					<li class="sel-file" ng-repeat="f in rejFiles">
						Rejected file: {{f.name}} - size: {{f.size}}B - type: {{f.type}}
					</li>
				</ul>
				<div data-ng-bind="uploadStatus"></div>
				<progressbar value="uploadprogress" type="success" ng-model="upload"><b>{{uploadfile}}</b></progressbar>
			</div>
		</div>
	</div>

</section>