<section data-ng-controller="ProjectsController" data-ng-init="loadProject()">
	<div class="page-header">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8">
				<h2 style="margin:0">{{::project.title}} <small>Due {{project.estimatedCompletionDate | amDateFormat:'MM/DD/YY h:mm:ss a'}} EST</small> </h2>
				<div class="form-group" ng-if="showDateEdit">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Due Date/Time (Click to select date and time)</strong>
                        </div>
                        <div class="panel-body">
                            <div class="controls">
                                <div class="dropdown">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        <input type="text" class="form-control" data-ng-model="project.estimatedCompletionDate" readonly>
                                    </div>
                                    <datetimepicker ng-change="updateDueDate()" data-ng-model="project.estimatedCompletionDate" data-datetimepicker-config="{ minuteStep: 30 }"/>

                                </div>
                                 <div style="color:red;font-weight:700">{{dateNotice}}</div>
                           </div>
                        </div>
                    </div>
                </div>
				<h4>Created by {{::project.user.displayName}} {{project.created | amDateFormat:'MM/DD/YY h:mm:ss a'}} EST</h4>
				<a class="btn btn-primary" href="/#!/projects-client/{{::project._id}}" target="_blank">View in Client Portal</a>
				<a data-ng-if="permitAdminProductionCoordinator() || isOwner()" class="btn btn-success" ng-click="toggleShowEdit()">Extend Audition</a>
				<a data-ng-if="permitAdminProductionCoordinator() || isOwner()" class="btn btn-danger" href="/#!/projects/create/{{::project._id}}">ReAudition</a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
					<progressbar value="dynamic" type="success" ng-model="progress"><b>{{dynamic}}%</b></progressbar>
					<div ng-if="permitAdminDirector() === false" class="panel-body" data-ng-bind="project.status" style="text-align:center"></div>
					<select class="form-control" style="display:block;margin:0 auto" ng-if="permitAdminDirector()" ng-model="project.status" ng-change="updateProjectStatus()">
                        <option ng-repeat="item in statusOpts" value="{{item}}">{{item}}</option>
                    </select>
                    <div ng-if="permitAdmin()" ng-controller="UsersController" data-ng-init="findFilter('production coordinator')">
                    	<label>Owner</label>
                    	<select class="form-control" style="display:block;margin:0 auto" ng-model="project.owner" ng-change="$parent.update(false)">
	                        <option ng-repeat="user in users" ng-selected="project.owner == user._id" value="{{::user._id}}">{{::user.firstName}} {{::user.lastName}}</option>
	                    </select>
                    </div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading"><strong>Description &amp; Specs</strong></div>
					<div class="panel-body" ng-bind-html="project.description"></div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="panel panel-default" data-ng-if="permitAdminProductionCoordinatorDirector()">
					<div class="panel-heading">
		            	<strong>Notes ({{project.discussion.length}})</strong>
		        	</div>
		        	<fieldset>
						<select class="form-control" style="display:block;margin:0 auto" ng-if="permitAdmin() || isOwner()" ng-class="{blueBg: project.sounders == 'Sounders', yellowBg: project.sounders == 'No Sounders - Approved By William'}" ng-model="project.sounders" ng-change="updateSoundersStatus()">
	                        <option ng-repeat="item in soundersOpts" value="{{item}}">{{item}}</option>
	                    </select>
	                    <div ng-if="!permitAdmin() && !isOwner()" style="padding:10px;font-weight:700" ng-class="{blueBg: project.sounders == 'Sounders', yellowBg: project.sounders == 'No Sounders - Approved By William'}">
	                    	{{project.sounders[0]}}
	                    </div>
                	</fieldset>
		        	<fieldset>
						<textarea ng-model="discussion" name="discussion" class="form-control"></textarea>
						<button style="float:right" class="btn btn-primary" ng-click="saveDiscussion()">Save</button>
					</fieldset>
					<div style="max-height:200px;padding:10px;border-top:1px solid #e8e8e8;overflow-y:scroll">
						<div ng-repeat="(key, ditem) in project.discussion.slice().reverse()">
							<h5 ng-if="ditem.deleted === true" class="strike-if"><strong>{{ditem.date | amDateFormat:'MM/DD/YY h:mm:ss a'}} EST - {{::ditem.username}}</strong></h5>
							<h5 ng-if="ditem.deleted === false"><strong>{{ditem.date | amDateFormat:'MM/DD/YY h:mm:ss a'}} EST - {{::ditem.username}}</strong></h5>
							<div class="clearfix">
								<button ng-if="authentication.user._id === ditem.userid && ditem.deleted === false" style="float:right" class="btn btn-danger" ng-click="deleteDiscussion(key)">Delete</button>
								<div ng-if="ditem.deleted === true" class="strike-if" ng-bind-html="ditem.item | linky:'_blank'"></div>
								<p ng-if="ditem.deleted === false" ng-bind-html="ditem.item | linky:'_blank'"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-offset-6 col-lg-6 col-md-offset-6 col-md-6 col-sm-6 col-sm-offset-6">
			<div class="panel panel-default" data-ng-if="permitAdminProductionCoordinatorDirector()">
				<div class="panel-heading">
						<h4>Client Notes</h4>
				</div>
				<fieldset>
					<div style="max-height:200px;padding:10px;border-top:1px solid #e8e8e8;overflow-y:scroll">
						<div ng-repeat="(key, note) in project.clientNotes | orderBy:'-date':reverse">
							<h5><strong>{{note.date | amDateFormat:'MM/DD/YY h:mm:ss a'}} EST - {{::note.username}}</strong></h5>
							<div ng-bind-html="note.item"></div>
						</div>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<accordion close-others="oneAtATime">
					<accordion-group is-open="status.open">
					<accordion-heading data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
						<h4 class="panel-title accordion-toggle">
			            	Scripts ({{project.scripts.length}}) <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
			            </h4>
		        	</accordion-heading>
						<div data-ng-if="permitAdminProductionCoordinatorDirector() || isOwner()" class="clearfix" style="padding-bottom:5px">

	                    	<fieldset>
								<h4>Upload Script: </h4>
								<div ng-file-drop ng-file-select="uploadScript($files)" ng-model="files" ng-model-rejected="rejFiles"
		                         drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
		                         ng-multiple="true" ng-accept="'*.pdf'"
		                         drop-available="dropAvailable">
		                            <div ng-hide="dropAvailable">File Drop not available</div>
		                            <div ng-if="dropAvailable">Drop PDFs</div>
		                            <div>or click to select</div>
		                        </div>
							</fieldset>
						</div>
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="(key, script) in project.scripts">
								<div class="row">
                    				<div class="col-lg-10 col-md-10 col-sm-10">
										<strong>{{key+1}}.</strong>
										<a href="/res/scripts/{{::project._id}}/{{script.file.name | encodeUri}}" target="_blank" data-ng-bind="script.file.name" download="{{::script.file.name}}"></a>
										<a href="/res/scripts/{{::project._id}}/{{::script.file.name}}" target="_blank">
											<img src="/img/Adobe-Acrobat-icon.png" alt="download PDF" download="{{::script.file.name}}">
										</a>
									</div>
									<div class="col-lg-1 col-md-1 col-sm-1">
										<button ng-click="delScript(key)" target="_blank" class="btn btn-danger">Delete</button>
									</div>
								</div>
							</li>
						</ul>
					</accordion-group>
				</accordion>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-6">
				<accordion close-others="oneAtATime">
					<accordion-group is-open="toggleRefs">
					<accordion-heading data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
						<h4 class="panel-title accordion-toggle">
			            	Reference Files ({{::project.referenceFiles.length}})<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
			            </h4>
		        	</accordion-heading>

						<div data-ng-if="permitAdminProductionCoordinatorDirector() || isOwner()" class="clearfix" style="padding-bottom:5px">
							<h4>Upload Reference: </h4>

							<div ng-file-drop ng-file-select="uploadReferenceFile($files)" ng-model="files" ng-model-rejected="rejFiles"
	                         drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
	                         ng-multiple="true" ng-accept="'*'"
	                         drop-available="dropAvailable">
	                            <div ng-hide="dropAvailable">File Drop not available</div>
	                            <div ng-if="dropAvailable">Drop Anything you would like.</div>
	                            <div>or click to select</div>
	                        </div>

						</div>
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="(key, referenceFile) in project.referenceFiles">
								<div class="row">
                    				<div class="col-lg-10 col-md-10 col-sm-10">
										<strong>{{key+1}}.</strong> <a href="/res/referenceFiles/{{::project._id}}/{{referenceFile.file.name | encodeUri}}" target="_blank" data-ng-bind="referenceFile.file.name" download="{{::referenceFile.file.name}}"></a>

										<div ng-if="checkForAudio(referenceFile.file.name)">
											<button ng-click="playAudio(key, referenceFile.file.name, '/res/referenceFiles/{{::project._id}}/')" class="btn btn-primary">
												<span ng-if="lastAudioID == key && audioStatus == 1">
													<img src="/img/Aqua-Pause-icon.png" style="width:35px;height:auto" alt="play icon">
												</span>
												<span ng-if="lastAudioID != key || audioStatus != 1">
													<img src="/img/aqua-play-icon.png" style="width:35px;height:auto" alt="play icon">
												</span>
											</button>
											<button ng-click="stopAudio()" class="btn btn-primary" ng-if="lastAudioID == key && audioStatus == 1">
												<img src="/img/Aqua-Stop-icon.png" style="width:35px;height:auto" alt="play icon">
											</button>
										</div>

									</div>
									<div class="col-lg-1 col-md-1 col-sm-1">
										<button data-ng-if="permitAdminProductionCoordinatorDirector() || isOwner()" ng-click="delReferenceFile(key)" target="_blank" class="btn btn-danger">Delete</button>
									</div>
								</div>
							</li>
						</ul>

					</accordion-group>
				</accordion>
			</div>

		</div>

		<div class="row">

			<div class="col-lg-12 col-md-12 col-sm-12">
				<accordion close-others="oneAtATime">
					<accordion-group is-open="status.open">
					<accordion-heading data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
						<h4 class="panel-title accordion-toggle">
			            	Auditions ({{project.auditions.length}})<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
			            </h4>
		        	</accordion-heading>
				 		<div data-ng-if="permitAdminProductionCoordinatorDirector() || isOwner()" class="clearfix" style="padding-bottom:5px">
							<h4>Upload Audition Files: (*.mp3 only!)</h4>

							<div ng-file-drop ng-file-select="uploadAudition($files)" ng-model="files" ng-model-rejected="rejFiles"
	                         drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
	                         ng-multiple="true" ng-accept="'*.mp3'"
	                         drop-available="dropAvailable">
	                            <div ng-hide="dropAvailable">File Drop not available</div>
	                            <div ng-if="dropAvailable">Drop *.mp3 files..</div>
	                            <div>or click to select</div>
	                        </div>

						</div>
						<div ng-if="project.auditions" style="text-align:center;padding:10px 0">
							<a href="" class="btn btn-primary" ng-click="downloadAllAuditions()">Download All</a>
							<a href="" class="btn btn-primary" ng-click="checkAllFiles()">Check All Files</a>
						</div>
						<div class="table-responsive">
							<table class="table table-striped">
								<tr>
									<th>
										#
									</th>
									<th>
										File
									</th>
									<th>
										Playback
									</th>
									<th>
										Plays
									</th>
									<th>
										Talent
									</th>
									<td>
										Rating
									</th>
									<th>
										Published
									</th>
									<th>
										Booked
									</th>
									<th>
										Favorited
									</th>
								</tr>
								<tr ng-repeat="(key, audition) in project.auditions track by $index">
									<td>
										{{key+1}}
									</td>
									<td>
										<div ng-if="audition.filecheck === 2" style="font-size:18px;color:red;font-weight:700">
											FILE NOT FOUND ON SERVER! <br>PLEASE UPLOAD AGAIN!
										</div>

										<a href="/res/auditions/{{::project._id}}/{{audition.file.name | encodeUri}}" target="_blank" data-ng-bind="audition.file.name" class="inline-playable" download="{{::audition.file.name}}">ngAudio</a>
										<p ng-module="users" ng-controller="UsersController" data-ng-init="getOne(audition.approved.by.userId)">
											<strong>Posted by:</strong> {{useredit.displayName}}
										</p>
										<p ng-if="audition.hidden == true" style="font-size:18px;color:red;font-weight:700">HIDDEN BY CLIENT</p>
										<button ng-click="toggleShowRename()" class="btn btn-primary">Rename</button>

										<div ng-if="showRename">
											<input type="text" ng-model="project.auditions[key].rename" ng-init="project.auditions[key].rename = project.auditions[key].file.name" placeholder="Enter new filename" class="form-control">
											<button ng-click="update(false);toggleShowRename();" class="btn btn-primary">Update</button>
											<button ng-click="toggleShowRename()" class="btn btn-primary">Cancel</button>
										</div>
										<button data-ng-if="permitAdminDirector()" ng-click="delAudition(key)" class="btn btn-danger">Delete</button>
									</td>
									<td>
										<span ng-if="verifyAudio(key)">
											<button ng-click="playAudio(key, audition.file.name)" class="btn btn-primary">
												<span ng-if="lastAudioID == key && audioStatus == 1">
													<img src="/img/Aqua-Pause-icon.png" style="width:35px;height:auto" alt="play icon">
												</span>
												<span ng-if="lastAudioID != key || audioStatus != 1">
													<img src="/img/aqua-play-icon.png" style="width:35px;height:auto" alt="play icon">
												</span>
											</button>
											<button ng-click="stopAudio()" class="btn btn-primary" ng-if="lastAudioID == key && audioStatus == 1">
												<img src="/img/Aqua-Stop-icon.png" style="width:35px;height:auto" alt="play icon">
											</button>
										</span>
									</td>
									<td>
										<p ng-if="project.auditions[key].playCnt">
											{{project.auditions[key].playCnt}}
										</p>
									</td>
									<td>
										<div ng-if="project.auditions[key].talent == ''">
											<img src="img/warning.jpg" alt="talent warning icon" style="width:20px;height:auto">
											Talent Not Assigned
										</div>
										<select ng-model="project.auditions[key].talent" ng-change="$parent.updateNoRefresh()">
					                        <option ng-repeat="talent in project.talent" ng-selected="project.auditions[key].talent == talent.talentId" value="{{::talent.talentId}}">{{talent.name}}</option>
					                    </select>
					                </td>
					                <td>
					                	<rating ng-model="audition.avgRating" readonly="false" ng-click="updateRating(audition.file.path, false)" max="max" on-leave="overStar = audition.avgRating" on-hover="hoveringOver(value,key)"></rating>
										<p data-ng-if="audition.avgRating">Average: <br>
											<rating ng-model="audition.avgRating" readonly="true" max="max" on-leave="overStar = audition.avgRating" ></rating>
									</td>
									<td>
										<input type="checkbox" value="true" ng-click="updatePublished(key)" ng-model="project.auditions[key].published">
									</td>
									<td>
										<img ng-if="audition.booked" src="/img/green-check.png" style="width:20px;height:auto">
									</td>
									<td>
										<img ng-if="audition.favorite == 1" src="/img/gold-trophy.png" alt="favorited audition">
									</td>
								</tr>
							</table>
						</div>

				</accordion-group>
				</accordion>
			</div>
		</div>

		<div class="row">

			<div class="col-lg-12 col-md-12 col-sm-12">
				<accordion close-others="oneAtATime">
					<accordion-group is-open="status.open">
					<accordion-heading data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
						<h4 class="panel-title accordion-toggle">
		     	       		Talent ({{project.talent.length}})<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
		     	       	</h4>
		        	</accordion-heading>
		        		<div class="table-responsive">
		        		<table class="table table-striped">
							<tr>
								<th>
									<a href="" ng-click="updatePred(predicate == 'name' ? '-name' : 'name'); reverse=false">Name</a></span>
	                                <span ng-if="predicate == '-name'">(^)</span>
	                                <span ng-if="predicate == 'name'">(V)</span>
								</th>
								<th>
									TL
								</th>
								<th>
									Location
								</th>
								<th>Requested</th>
								<th>
									<a href="" ng-click="updatePred(predicate == 'status' ? '-status' : 'status'); reverse=false">Status</a></span>
	                                <span ng-if="predicate == '-status'">(^)</span>
	                                <span ng-if="predicate == 'status'">(V)</span>
								</th>
								<th>
									<a href="" ng-click="updatePred(predicate == 'part' ? '-part' : 'part'); reverse=false">Part</a></span>
	                                <span ng-if="predicate == '-part'">(^)</span>
	                                <span ng-if="predicate == 'part'">(V)</span>
								</th>
								<th>Email</th>
								<th>Booked</th>
								<th>Note</th>
								<th></th>
							</tr>
							<tr ng-repeat="(key, member) in project.talent | orderBy:predicate:reverse" ng-module="talents" ng-controller="TalentsController" data-ng-init="getOne(member.talentId)">
								<td>
									<a target="_blank" href="/#!/talents/{{::member.talentId}}">
										{{::talent.name}} {{::talent.lastNameCode}}
									</a>
								</td>
								<td>
									<a target="_blank" href="/#!/projects/talent-upload/{{::project._id}}/{{::member.talentId}}" title="talent auditions upload link">^</a>
								</td>
								<td>
									{{::talent.locationISDN}}
								</td>
								<td>
									<span ng-if="member.requested == true">R</span>
								</td>
								<td>
									<select class="form-control" ng-model="talentStatus[member.talentId]" ng-init="talentStatus[member.talentId] = $parent.getTalentStatus(member.talentId) || talentStatus[0]" style="width:100px" ng-change="$parent.updateTalentStatus(member.talentId, talentStatus[member.talentId])" ng-options="item for item in talentStatus"></select>
								</td>
								<td>
									{{::member.part}}
								</td>
								<td>
									<button class="btn btn-primary" ng-click="$parent.sendTalentEmail(member.talentId)"><img style="width:30px;height:auto" src="/img/envelope.png" alt="envelope image"></button>
								</td>
								<td>
									<input type="checkbox" data-ng-model="talentBooked[key]" ng-checked="$parent.getBooked(member.talentId)" ng-click="$parent.toggleBooked(member.talentId)">
								</td>
								<td>
									<textarea ng-model="talentNote[member.talentId]" name="talentNote[member.talentId]" ng-init="talentNote[member.talentId] = $parent.getTalentNote(member.talentId)" class="form-control">
									</textarea>
									<button style="float:right" class="btn btn-primary" ng-click="$parent.saveTalentNote(member.talentId)">Save</button>
								</td>
								<td>
									<button ng-if="member.submissions" target="_blank" href="#" ng-click="talentSubmissionsModal(member)" title="talent auditions upload link">></button>
								</td>
							</tr>
						</table>
						</div>
						<accordion close-others="oneAtATime" data-ng-if="permitAdminTalentDirectorProdCoord()">
							<accordion-group is-open="statusInt.open">
							<accordion-heading data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
								<h4 class="panel-title accordion-toggle">
									Edit Talent<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusInt.open, 'glyphicon-chevron-right': !statusInt.open}"></i>
								</h4>
							</accordion-heading>
					            <div class="controls" ng-module="talents">
					            	<div style="text-align:center">
										<button class="btn btn-primary" ng-click="createTalent()">Create Talent</button>
									</div>
					                <div ng-controller="TalentsController" data-ng-init="find()">
					                	<label>Search:</label> <input ng-model="searchString" class="form-control">
					                	<div class="row">
				                        <div class="col-lg-3 col-md-3 col-sm-3">
				                            <div class="btn-group" data-toggle="buttons" style="padding-top:15px">
				                                <label class="btn btn-primary" ng-model="searchText.gender" btn-radio="'male'">Male</label>
				                                <label class="btn btn-primary" ng-model="searchText.gender" btn-radio="'female'">Female</label>
				                                <label class="btn btn-primary" ng-model="searchText.gender" btn-radio="">All</label>
				                            </div>
				                        </div>
				                        <div class="col-lg-2 col-md-2 col-sm-2">
				                            <label>union</label> <input type="checkbox" ng-model="searchText.unionStatus" ng-true-value="'union'" class="form-control">
				                        </div>
				                        <div class="col-lg-2 col-md-2 col-sm-2">
				                            <label>non-union</label> <input type="checkbox" ng-model="searchText.unionStatus" ng-true-value="'non-union'" class="form-control">
				                        </div>
				                        <div class="col-lg-3 col-md-3 col-sm-3">
				                            <label>union and non-union</label> <input type="checkbox" ng-model="searchUnions" ng-true-value="'union non-union'" class="form-control">
				                        </div>
				                        <div class="col-lg-2 col-md-2 col-sm-2">
				                            <label>Emailer</label> <input type="checkbox" ng-model="searchText.type" ng-true-value="'email'" class="form-control">
				                        </div>
				                    </div>
				                    <div class="row" style="padding-bottom:10px">
				                        <div class="col-lg-3 col-md-3 col-sm-3">
				                            <div class="btn-group" data-toggle="buttons" style="padding-top:15px">
				                                <label class="btn btn-primary" ng-model="searchText.ageRange" btn-radio="'kid'">Kid</label>
				                                <label class="btn btn-primary" ng-model="searchText.ageRange" btn-radio="'teen'">Teen</label>
				                                <label class="btn btn-primary" ng-model="searchText.ageRange" btn-radio="'adult'">Adult</label>
				                                <label class="btn btn-primary" ng-model="searchText.ageRange" btn-radio="">All</label>
				                            </div>
				                        </div>
				                        <div class="col-lg-3 col-md-3 col-sm-3">
				                            <select ng-model="searchText.locationISDN" class="form-control" style="margin-top:15px">
				                                <option value="">All Locations</option>
				                                <option ng-repeat="item in locations" value="{{item}}">{{item}}</option>
				                            </select>
				                        </div>
				                        <div class="col-lg-6 col-md-6 col-sm-6">
				                            <div class="btn-group" data-toggle="buttons" style="padding-top:15px">
				                                <label class="btn btn-primary" ng-model="searchText.typeCasts" btn-radio="'African-American'">African-American</label>
				                                <label class="btn btn-primary" ng-model="searchText.typeCasts" btn-radio="'british'">British</label>
				                                <label class="btn btn-primary" ng-model="searchText.typeCasts" btn-radio="'spanish'">Spanish</label>
				                                <label class="btn btn-primary" ng-model="searchText.typeCasts" btn-radio="'foreign language'">Foreign Language</label>
				                                <label class="btn btn-primary" ng-model="searchText.typeCasts" btn-radio="">All</label>
				                            </div>
				                        </div>
				                    </div>
					                	<div class="row">
									        <div class="col-lg-12 col-md-12 col-sm-12">
									            <select ng-init="limit = 20" ng-model="limit" class="form-control">
									                <option value="5" selected>Show 5 per page</option>
									                <option value="10">Show 10 per page</option>
									                <option value="15">Show 15 per page</option>
									                <option value="20">Show 20 per page</option>
									                <option value="30">Show 30 per page</option>
									                <option value="50">Show 50 per page</option>
									                <option value="100">Show 100 per page</option>
									                <option value="200">Show 200 per page</option>
									            </select>
									        </div>
									    </div>
									    <div class="row">
									        <div class="col-lg-12 col-md-12 col-sm-12">
									            <div class="text-center">
									            <ul class="pagination">
									                <li ng-class="{disabled: currentPage == 0}">
									                    <a href ng-click="currentPage=currentPage-1">« Prev</a>
									                </li>
									                <li ng-repeat="n in range(0, Math.floor(filtered.length/limit))" ng-class="{active: n == currentPage}" ng-click="setPage()">
									                    <a href ng-bind="n + 1">1</a>
									                </li>
									                <li ng-class="{disabled: currentPage == Math.floor(filtered.length/limit)}">
									                    <a href ng-click="currentPage=currentPage+1">Next »</a>
									                </li>
									            </ul>
									            </div>
									        </div>
									    </div>
									    <div class="table-responsive">
									    <table class="table table-striped">
											<tr>
												<th><b>C</b></th>
												<th><b>R</b></th>
												<th><b>Part</b></th>
												<th><b>Info</b></th>
											</tr>
											<tr ng-repeat="(key, talent) in filtered = (talents | multiTerm:searchUnions:'AND' | filter:searchText:startsWith | multiTermFull:searchString:'AND') | startFrom:currentPage*limit | limitTo: limit">
												<td>
													<input ng-if="addTalent" type="checkbox" value="{{::talent._id}}" ng-click="updateTalent(talent._id, talent.name + ' ' + talent.lastName, talent.email)" ng-checked="checkTalent(talent._id)">
												</td>
												<td>
													<input ng-if="addTalent" type="checkbox" value="{{::talent._id}}" ng-click="updateRequestTalent(talent._id, talent.name + ' ' + talent.lastName, talent.email)" ng-checked="checkRequestedTalent(talent._id)">
												</td>
												<td>
													<input type="text" class="form-control" ng-model="parts[talent._id]" ng-if="showPartFld(talent._id)">
													<div ng-if="showPartFld(talent._id) == false">{{showPartString(talent._id)}}</div>
												</td>
												<td>
													<a target="_blank" href="/#!/talents/{{::talent._id}}">{{::talent.name}} {{::talent.lastName}}</a> - {{::talent.locationISDN}} - Outage <span ng-if="!talent.outageTimes">None</span><span ng-if="talent.outageTimes != ''">{{::talent.outageTimes}}</span>
												</td>
											</tr>
										</table>
										</div>
										<div class="row">
									        <div class="col-lg-12 col-md-12 col-sm-12">
									            <div class="text-center">
									            <ul class="pagination">
									                <li ng-class="{disabled: currentPage == 0}">
									                    <a href ng-click="currentPage=currentPage-1">« Prev</a>
									                </li>
									                <li ng-repeat="n in range(0, Math.floor(filtered.length/limit))" ng-class="{active: n == currentPage}" ng-click="setPage()">
									                    <a href ng-bind="n + 1">1</a>
									                </li>
									                <li ng-class="{disabled: currentPage == Math.floor(filtered.length/limit)}">
									                    <a href ng-click="currentPage=currentPage+1">Next »</a>
									                </li>
									            </ul>
									            </div>
									        </div>
									    </div>
									</div>
								</div>
							</accordion-group>
						</accordion>
					</accordion-group>
				</accordion>
			</div>

		</div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<accordion close-others="oneAtATime" data-ng-if="permitAdminProductionCoordinatorDirector()">
					<accordion-group is-open="status.open">
					<accordion-heading data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
						<h4 class="panel-title accordion-toggle">
		            		Main Clients ({{project.client.length}})<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
		            	</h4>
		        	</accordion-heading>

		        		<div style="text-align:center;padding-bottom:7px">
							<button class="btn btn-primary" ng-click="sendClientEmail('opening')">Opening Email</button>
							<button class="btn btn-primary" ng-click="sendClientEmail('carryover')">Carryover Email</button>
							<button class="btn btn-primary" ng-click="sendClientEmail('closing')">Closing Email</button>
						</div>

						<ul class="list-group">
							<li class="list-group-item" ng-repeat="(key, member) in project.client" ng-module="users" ng-controller="UsersController" data-ng-init="getOne(member.userId)">
								<input type="checkbox" ng-model="selectedMainClients[key]" ng-true-value="'{{::member.userId}}'"> <a target="_blank" href="/#!/usersedit/{{::member.userId}}">{{::member.name}} {{::member.company}}</a> - {{::useredit.company}}
							</li>
						</ul>

						<accordion close-others="oneAtATime" ng-if="permitAdminProductionCoordinator()">
							<accordion-group is-open="statusInt.open">
							<accordion-heading data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
								<h4 class="panel-title accordion-toggle">
									Edit Main Clients<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusInt.open, 'glyphicon-chevron-right': !statusInt.open}"></i>
								</h4>
							</accordion-heading>
					            <div class="controls" ng-module="users">
					            	<div style="text-align:center">
										<button class="btn btn-primary" ng-click="createClient('client')">Create Client</button>
									</div>
					                <div ng-controller="UsersController" data-ng-init="findFilter('client')">
					                	<label>Search:</label> <input ng-model="filterClient" class="form-control">
					                	<div class="row">
									        <div class="col-lg-12 col-md-12 col-sm-12">
									            <select ng-init="limit = 20" ng-model="limit" class="form-control">
									                <option value="5" selected>Show 5 per page</option>
									                <option value="10">Show 10 per page</option>
									                <option value="15">Show 15 per page</option>
									                <option value="20">Show 20 per page</option>
									                <option value="30">Show 30 per page</option>
									                <option value="50">Show 50 per page</option>
									                <option value="100">Show 100 per page</option>
									                <option value="200">Show 200 per page</option>
									            </select>
									        </div>
									    </div>
									    <div class="row">
									        <div class="col-lg-12 col-md-12 col-sm-12">
									            <div class="text-center">
									            <ul class="pagination">
									                <li ng-class="{disabled: currentPage == 0}">
									                    <a href ng-click="currentPage=currentPage-1">« Prev</a>
									                </li>
									                <li ng-repeat="n in range(0, Math.floor(filtered.length/limit))" ng-class="{active: n == currentPage}" ng-click="setPage()">
									                    <a href ng-bind="n + 1">1</a>
									                </li>
									                <li ng-class="{disabled: currentPage == Math.floor(filtered.length/limit)}">
									                    <a href ng-click="currentPage=currentPage+1">Next »</a>
									                </li>
									            </ul>
									            </div>
									        </div>
									    </div>
										<ul class="list-group">
											<li class="list-group-item" ng-repeat="(key, user) in filtered = (users | filter:filterClient) | startFrom:currentPage*limit | limitTo: limit">
												<input type="checkbox" value="{{::user._id}}" ng-click="updateClient(user._id, user.displayName, user.email)" ng-checked="checkClientUsers(user._id)">
												<a target="_blank" href="/#!/usersedit/{{user._id}}">
													{{user.displayName}}
												</a>
												 - {{user.company}}
											</li>
										</ul>
										<div class="row">
									        <div class="col-lg-12 col-md-12 col-sm-12">
									            <div class="text-center">
									            <ul class="pagination">
									                <li ng-class="{disabled: currentPage == 0}">
									                    <a href ng-click="currentPage=currentPage-1">« Prev</a>
									                </li>
									                <li ng-repeat="n in range(0, Math.floor(filtered.length/limit))" ng-class="{active: n == currentPage}" ng-click="setPage()">
									                    <a href ng-bind="n + 1">1</a>
									                </li>
									                <li ng-class="{disabled: currentPage == Math.floor(filtered.length/limit)}">
									                    <a href ng-click="currentPage=currentPage+1">Next »</a>
									                </li>
									            </ul>
									            </div>
									        </div>
									    </div>
									</div>
								</div>
							</accordion-group>

						</accordion>
					</accordion-group>
				</accordion>

				<accordion close-others="oneAtATime" data-ng-if="permitAdminProductionCoordinatorDirector() || permitClient()">
					<accordion-group is-open="status.open">
					<accordion-heading data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
						<h4 class="panel-title accordion-toggle">
		            		Additional Clients ({{project.clientClient.length}})<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
		            	</h4>
		        	</accordion-heading>
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="(key, member) in project.clientClient" ng-module="users" ng-controller="UsersController" data-ng-init="getOne(member.userId)">
								<a target="_blank" href="/#!/usersedit/{{::member.userId}}">
									{{::member.name}}
								</a> - {{::useredit.company}}
							</li>
						</ul>
						<accordion close-others="oneAtATime" ng-if="permitAdminProductionCoordinator()">
							<accordion-group is-open="statusInt.open">
							<accordion-heading data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
								<h4 class="panel-title accordion-toggle">
									Edit Additional Clients<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusInt.open, 'glyphicon-chevron-right': !statusInt.open}"></i>
								</h4>
							</accordion-heading>
					            <div class="controls" ng-module="users">
					            	<div style="text-align:center">
										<button class="btn btn-primary" ng-click="createClient('client-client')">Create Client</button>
									</div>
					                <div ng-controller="UsersListController" data-ng-init="findFilter('client-client')">
					                	<label>Search:</label> <input ng-model="filterClientClient" class="form-control">
					                	<div class="row">
									        <div class="col-lg-12 col-md-12 col-sm-12">
									            <select ng-init="limit = 20" ng-model="limit" class="form-control">
									                <option value="5" selected>Show 5 per page</option>
									                <option value="10">Show 10 per page</option>
									                <option value="15">Show 15 per page</option>
									                <option value="20">Show 20 per page</option>
									                <option value="30">Show 30 per page</option>
									                <option value="50">Show 50 per page</option>
									                <option value="100">Show 100 per page</option>
									                <option value="200">Show 200 per page</option>
									            </select>
									        </div>
									    </div>
									    <div class="row">
									        <div class="col-lg-12 col-md-12 col-sm-12">
									            <div class="text-center">
									            <ul class="pagination">
									                <li ng-class="{disabled: currentPage == 0}">
									                    <a href ng-click="currentPage=currentPage-1">« Prev</a>
									                </li>
									                <li ng-repeat="n in range(0, Math.floor(filtered.length/limit))" ng-class="{active: n == currentPage}" ng-click="setPage()">
									                    <a href ng-bind="n + 1">1</a>
									                </li>
									                <li ng-class="{disabled: currentPage == Math.floor(filtered.length/limit)}">
									                    <a href ng-click="currentPage=currentPage+1">Next »</a>
									                </li>
									            </ul>
									            </div>
									        </div>
									    </div>
										<ul class="list-group">
											<li class="list-group-item" ng-repeat="(key, user) in filtered = (users | filter:filterClientClient) | startFrom:currentPage*limit | limitTo: limit">
												<input type="checkbox" value="{{::user._id}}" ng-click="updateClientClient(user._id, user.displayName, user.email)" ng-checked="checkClientClientUsers(user._id)">
												<a target="_blank" href="/#!/usersedit/{{::user._id}}">{{::user.displayName}}</a>
												 - {{::user.company}}
											</li>
										</ul>
										<div class="row">
									        <div class="col-lg-12 col-md-12 col-sm-12">
									            <div class="text-center">
									            <ul class="pagination">
									                <li ng-class="{disabled: currentPage == 0}">
									                    <a href ng-click="currentPage=currentPage-1">« Prev</a>
									                </li>
									                <li ng-repeat="n in range(0, Math.floor(filtered.length/limit))" ng-class="{active: n == currentPage}" ng-click="setPage()">
									                    <a href ng-bind="n + 1">1</a>
									                </li>
									                <li ng-class="{disabled: currentPage == Math.floor(filtered.length/limit)}">
									                    <a href ng-click="currentPage=currentPage+1">Next »</a>
									                </li>
									            </ul>
									            </div>
									        </div>
									    </div>
									</div>
								</div>
							</accordion-group>
						</accordion>
					</accordion-group>
				</accordion>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-6">
				<accordion close-others="oneAtATime" data-ng-if="permitAdminProductionCoordinatorDirector()">
					<accordion-group is-open="status.open">
					<accordion-heading data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
						<h4 class="panel-title accordion-toggle">
		            	Phases<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
		            	</h4>
		        	</accordion-heading>
					<accordion close-others="oneAtATime">
						<div class="panel panel-default" ng-repeat="(key, phase) in project.phases">
							<div class="panel-heading"><strong>{{::project.phases[key].name}}</strong></div>
							<div class="panel-body">
								<span>
									<div class="row">
										<div class="col-lg-3 col-md-3 col-sm-3">
											<label>Status:</label>
										</div>
										<div class="col-lg-9 col-md-9 col-sm-9">
											<select ng-model="project.phases[key].status" class="form-control" ng-change="updateStatus(key)" ng-options="item for item in project.phases[key].options">
							        		</select>
							        	</div>
							        </div>
							        <div class="row" ng-if="project.phases[key].changeDate">
										<div class="col-lg-4 col-md-4 col-sm-4">
							        		<label>Change Date:</label>
							        	</div>
							        	<div class="col-lg-8 col-md-8 col-sm-8">
							        		<p>{{project.phases[key].changeDate | amDateFormat:'MM/DD/YY h:mm:ss a'}}</p>
							        	</div>
							        </div>
							        <div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4">
							        		<label>End Date:</label>
							        	</div>
							        	<div class="col-lg-8 col-md-8 col-sm-8">
							        		<p>{{project.phases[key].endDate | amDateFormat:'MM/DD/YY h:mm:ss a'}}</p>
							        	</div>
							        </div>
					    		</span>
					        </div>
						</div>
				    </accordion>
			    </accordion>
			</div>

		</div>
	</div>
	<div class="pull-right" data-ng-if="permitAdminProductionCoordinator()" style="padding-bottom:75px">
		<a class="btn btn-primary" href="/#!/projects/{{project._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>

	<div class="container" style="position:fixed;bottom:0;background:#fff;z-index:999;padding-top:5px">
		<div class="row" data-ng-if="permitAdminProductionCoordinatorDirector() || isOwner()">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<ul style="clear:both" ng-if="rejFiles.length > 0" class="response">
					<li class="sel-file" ng-repeat="f in rejFiles">
						Rejected file: {{f.name}} - size: {{f.size}}B - type: {{f.type}}
					</li>
				</ul>
				<div data-ng-bind="uploadStatus"></div>
				<progressbar animate="false" value="uploadprogress" type="success" ng-model="upload"><b>{{uploadfile}}</b></progressbar>
			</div>
		</div>
	</div>

	<div class="fade modal-backdrop in" ng-if="processing"></div>

</section>
