<div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Title</strong>
        </div>
        <div class="panel-body">
            <input type="text" data-ng-model="newProject.title" id="title" class="form-control" placeholder="Title" required>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Due Date/Time (Click to select date and time)</strong>
        </div>
        <div class="panel-body">
            <div class="controls">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            <input type="text" class="form-control" data-ng-model="newProject.estimatedCompletionDate">
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="newProject.estimatedCompletionDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                    </ul>
                </div>
                 <div style="color:red;font-weight:700">{{dateNotice}}</div>
           </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Clients for the project</strong>
        </div>
        <div class="panel-body">
            <script>
              var users = angular.module("users", []);
              users.controller("UsersController", function($scope) {
                  $scope.users = Users.query();
              });
            </script>
            <div class="controls" ng-module="users">
                <div ng-controller="UsersController" data-ng-init="findFilter('client')">
                    <label>Search:</label> <input ng-model="filterClient" class="form-control">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="(key, user) in users | filter:filterClient"><input type="checkbox" value="{{user._id}}" ng-click="updateCreateClient(user._id, user.displayName, user.email)" ng-checked="checkClientUsersCreate(user._id)"> {{user.firstName}} {{user.lastName}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Description</strong>
        </div>
        <div class="panel-body">
            <textarea type="date" data-ng-model="newProject.description" id="description" class="form-control" ></textarea>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10">
            <select class="form-control" style="display:block;margin:0 auto" ng-model="newProject.sounders"  ng-class="{blueBg: newProject.sounders == 'Sounders', yellowBg: newProject.sounders == 'No Sounders - Approved By William'}" ng-init="newProject.sounders = 'Sounders'">
                <option ng-repeat="item in soundersOpts" value="{{item}}">{{item}}</option>
            </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2" style="text-align:center;padding-bottom:9px">
            <label>Notify Client</label><br>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary" ng-model="newProject.notifyClient" btn-radio="false">No</label>
                <label class="btn btn-primary" ng-model="newProject.notifyClient" btn-radio="true">Yes</label>
            </div>
        </div>
</div>
<div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Scripts (PDF only!)</strong>
        </div>
        <div class="panel-body">
            
            <div ng-if="rejFiles.length > 0">
                <h4 style="text-align:center">Please make sure upload is a PDF</h4>
                <ul style="clear:both" ng-show="rejFiles.length > 0" class="response">
                    <li class="sel-file" ng-repeat="f in rejFiles">
                        Rejected file: {{f.name}} - size: {{f.size}}B - type: {{f.type}}
                    </li>
                </ul>
            </div>
            
            <div class="clearfix" style="padding-bottom:5px">
                <div ng-file-drop ng-file-select="uploadTempScript($files)" ng-model="files" ng-model-rejected="rejFiles"
                 drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
                 ng-multiple="true" ng-accept="'*.pdf'"
                 drop-available="dropAvailable">
                    <div ng-hide="dropAvailable">File Drop not available</div>
                    <div ng-show="dropAvailable">Drop PDF</div>
                    <div>or click to select</div>
                </div>
            </div>

            <ul class="list-group">
            <li class="list-group-item" ng-repeat="(key, script) in scripts">
                <div class="row">
                    <div class="col-lg-11 col-md-11 col-sm-11">
                        <strong>{{key+1}}.</strong> <a href="/res/scripts/temp/{{script.file.name | encodeUri}}" target="_blank" data-ng-bind="script.file.name"></a> 
                        <a href="/res/scripts/temp/{{script.file.name}}" target="_blank"><img src="/img/Adobe-Acrobat-icon.png" alt="download PDF"></a>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1">
                        <button data-ng-show="permitAdminDirector()" ng-click="delTempScript(key)" target="_blank" class="btn btn-danger">Delete</button>
                    </div>
                </fieldset>
            </li>
        </ul>

        </div>
    </div>
</div>

<div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Reference Files</strong>
        </div>
        <div class="panel-body">

            <div class="clearfix" style="padding-bottom:5px">
                <div ng-file-drop ng-file-select="uploadTempReferenceFile($files)" ng-model="files" ng-model-rejected="rejFiles"
                 drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
                 ng-multiple="true" ng-accept="'*'"
                 drop-available="dropAvailable">
                    <div ng-hide="dropAvailable">File Drop not available</div>
                    <div ng-show="dropAvailable">Drop Anything you would like.</div>
                    <div>or click to select</div>
                </div>
            </div>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="(key, referenceFile) in referenceFiles">
                    <div class="row">
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <strong>{{key+1}}.</strong> 
                            <a href="/res/referenceFiles/temp/{{referenceFile.file.name | encodeUri}}" target="_blank" data-ng-bind="referenceFile.file.name"></a> 
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <button data-ng-show="permitAdminDirector()" ng-click="delTempReferenceFile(key)" target="_blank" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>

<div data-ng-show="error" class="text-danger">
    <strong data-ng-bind="error"></strong>
</div>

<div class="form-group">
    <div class="redBG" style="padding:10px 5px;text-align:center" ng-if="scripts.length == 0">
        <h4>Please add a script file to continue.</h4>
    </div>
    <a ui-sref="createProject.talent" class="btn btn-block btn-info" ng-if="scripts.length > 0">
        Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>