<div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Title</strong>
        </div>
        <div class="panel-body">
            <input type="text" data-ng-model="newProject.title" id="title" class="form-control" placeholder="Title" autocomplete="off" required>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Due Date/Time (Click to select date and time)</strong>
        </div>
        <div class="panel-body">
            <div class="controls">
                <div class="dropdown">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input type="text" class="form-control" data-ng-model="newProject.estimatedCompletionDate" readonly>
                    </div>
                    <datetimepicker data-ng-model="newProject.estimatedCompletionDate" data-datetimepicker-config="{ minuteStep: 30, dropdownSelector: '#dropdown2' }"/>

                </div>
                 <div style="color:red;font-weight:700">{{dateNotice}}</div>
           </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Clients for the project</strong>
        </div>
        <div class="panel-body">
            <div class="controls" ng-module="users">
                <div style="text-align:center">
                    <a class="btn btn-primary" ng-click="createClient('client')">Create Client</a>
                </div>
                <div ng-controller="UsersController" data-ng-init="findFilter('client')">
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                      <label>Search by First Name:</label>
                      <input ng-model="filter.fName" class="form-control" ng-change="findLimitWithFilter()">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                      <label>Search by Last Name:</label>
                      <input ng-model="filter.lName" class="form-control" ng-change="findLimitWithFilter()">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                      <label>Search by Email:</label>
                      <input ng-model="filter.email" class="form-control" ng-change="findLimitWithFilter()">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                      <label>Search by Company:</label>
                      <input ng-model="filter.company" class="form-control" ng-change="findLimitWithFilter()">
                    </div>
                  </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <select ng-init="limit = 20" ng-model="limit" class="form-control">
                                <option value="5" selected>Show 5 per page</option>
                                <option value="10">Show 10 per page</option>
                                <option value="15">Show 15 per page</option>
                                <option value="20">Show 20 per page</option>
                                <option value="30">Show 30 per page</option>
                                <option value="50">Show 50 per page</option>
                                <option value="100">Show 100 per page</option>
                                <option value="200">Show 200 per page</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-2">
                          <p style="margin-top:27px">
                            {{(limit*currentPage)+1}}-{{limit*(currentPage+1)}} User(s) of {{usersTotalCnt}}
                          </p>
                      </div>
                      <div class="col-lg-10 col-md-10 col-sm-10">
                          <div class="text-center">
                          <ul class="pagination">
                              <li ng-class="{disabled: currentPage == 0}">
                                  <a href ng-click="changePage(currentPage-1)">« Prev</a>
                              </li>
                              <li ng-repeat="n in range(0, Math.floor(usersTotalCnt/limit))" ng-class="{active: n == currentPage}" ng-click="setPage()">
                                  <a href ng-bind="n + 1">1</a>
                              </li>
                              <li ng-class="{disabled: currentPage == Math.floor(usersTotalCnt/limit)}">
                                  <a href ng-click="changePage(currentPage+1)">Next »</a>
                              </li>
                          </ul>
                          </div>
                      </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="(key, user) in users">
                            <input style="-ms-transform: scale(2);-moz-transform: scale(2);-webkit-transform: scale(2);-o-transform: scale(2);margin:10px" type="checkbox" value="{{::user._id}}" ng-click="updateCreateClient(user._id, user.displayName, user.email)" ng-checked="checkClientUsersCreate(user._id)">
                            <a target="_blank" href="/#!/usersedit/{{::user._id}}">
                                <span ng-bind="::user.firstName"></span> <span ng-bind="::user.lastName"></span>
                            </a>
                            - <span ng-bind="::user.company"></span>
                        </li>
                    </ul>

                    <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-2">
                          <p style="margin-top:27px">
                            {{(limit*currentPage)+1}}-{{limit*(currentPage+1)}} User(s) of {{usersTotalCnt}}
                          </p>
                      </div>
                      <div class="col-lg-10 col-md-10 col-sm-10">
                          <div class="text-center">
                          <ul class="pagination">
                              <li ng-class="{disabled: currentPage == 0}">
                                  <a href ng-click="changePage(currentPage-1)">« Prev</a>
                              </li>
                              <li ng-repeat="n in range(0, Math.floor(usersTotalCnt/limit))" ng-class="{active: n == currentPage}" ng-click="setPage()">
                                  <a href ng-bind="n + 1">1</a>
                              </li>
                              <li ng-class="{disabled: currentPage == Math.floor(usersTotalCnt/limit)}">
                                  <a href ng-click="changePage(currentPage+1)">Next »</a>
                              </li>
                          </ul>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Description & Specs</strong>
        </div>
        <div class="panel-body">
            <div text-angular ng-model="newProject.description"></div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10">
            <select class="form-control" style="display:block;margin:0 auto" ng-model="newProject.sounders"  ng-class="{blueBg: newProject.sounders == 'Sounders', yellowBg: newProject.sounders == 'No Sounders - Approved By William'}" ng-init="newProject.sounders = 'Sounders'">
                <option ng-repeat="item in soundersOpts" value="{{::item}}">{{::item}}</option>
            </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2" style="text-align:center;padding-bottom:9px">
            <label>Notify Client</label><br>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary" ng-model="newProject.notifyClient" btn-radio="false">No</label>
                <label class="btn btn-primary" ng-model="newProject.notifyClient" btn-radio="true">Yes</label>
            </div>
        </div>
</div>
<div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Scripts (PDF only!)</strong>
        </div>
        <div class="panel-body">

            <div ng-if="rejFiles.length > 0">
                <h4 style="text-align:center">Please make sure upload is a PDF</h4>
                <ul style="clear:both" ng-show="rejFiles.length > 0" class="response">
                    <li class="sel-file" ng-repeat="f in rejFiles">
                        Rejected file: {{f.name}} - size: {{f.size}}B - type: {{f.type}}
                    </li>
                </ul>
            </div>

            <div class="clearfix" style="padding-bottom:5px">
                <div ng-file-drop ng-file-select="uploadTempScript($files)" ng-model="files" ng-model-rejected="rejFiles"
                 drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
                 ng-multiple="true" ng-accept="'*.pdf'"
                 drop-available="dropAvailable">
                    <div ng-hide="dropAvailable">File Drop not available</div>
                    <div ng-show="dropAvailable">Drop PDF</div>
                    <div>or click to select</div>
                </div>
            </div>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="(key, script) in newProject.copiedScripts">
                    <div class="row">
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <strong>{{key+1}}.</strong>
                            <a href="/res/scripts/{{::newProject._id}}/{{script.file.name | encodeUri}}" target="_blank" data-ng-bind="script.file.name"></a>
                            <a href="/res/scripts/{{::newProject._id}}/{{script.file.name | encodeUri}}" target="_blank">
                                <img src="/img/Adobe-Acrobat-icon.png" alt="download PDF">
                            </a>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <button ng-click="delCopyScript(key)" target="_blank" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="(key, script) in newProject.scripts">
                    <div class="row">
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <strong>{{key+1}}.</strong>
                            <a href="/res/scripts/temp/{{script.file.name | encodeUri}}" target="_blank" data-ng-bind="script.file.name"></a>
                            <a href="/res/scripts/temp/{{script.file.name | encodeUri}}" target="_blank">
                                <img src="/img/Adobe-Acrobat-icon.png" alt="download PDF">
                            </a>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <button ng-click="delTempScript(key)" target="_blank" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>

<div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Reference Files</strong>
        </div>
        <div class="panel-body">

            <div class="clearfix" style="padding-bottom:5px">
                <div ng-file-drop ng-file-select="uploadTempReferenceFile($files)" ng-model="files" ng-model-rejected="rejFiles"
                 drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
                 ng-multiple="true" ng-accept="'*'"
                 drop-available="dropAvailable">
                    <div ng-hide="dropAvailable">File Drop not available</div>
                    <div ng-show="dropAvailable">Drop Anything you would like.</div>
                    <div>or click to select</div>
                </div>
            </div>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="(key, referenceFile) in newProject.copiedReferenceFiles">
                    <div class="row">
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <strong>{{key+1}}.</strong>
                            <a href="/res/referenceFiles/{{::newProject._id}}/{{referenceFile.file.name | encodeUri}}" target="_blank" data-ng-bind="referenceFile.file.name"></a>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <button ng-click="delCopyReferenceFile(key)" target="_blank" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="(key, referenceFile) in newProject.referenceFiles">
                    <div class="row">
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <strong>{{key+1}}.</strong>
                            <a href="/res/referenceFiles/temp/{{referenceFile.file.name | encodeUri}}" target="_blank" data-ng-bind="referenceFile.file.name"></a>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <button ng-click="delTempReferenceFile(key)" target="_blank" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>

<div data-ng-show="error" class="text-danger">
    <strong data-ng-bind="error"></strong>
</div>

<div class="form-group">
    <div class="redBG" style="padding:10px 5px;text-align:center" ng-if="(newProject.scripts.length == 0 && newProject.copiedScripts.length == 0) || newProject.estimatedCompletionDate.length == 0 || newProject.title.length == 0">
        <span ng-if="newProject.title.length == 0"><h4>Please add a project title to continue.</h4></span>
        <span ng-if="newProject.estimatedCompletionDate.length == 0"><h4>Please add a end date to continue.</h4></span>
        <span ng-if="newProject.scripts.length == 0 && newProject.copiedScripts.length == 0"><h4>Please add a script file to continue.</h4></span>
    </div>
    <a ui-sref="{{newProjTalentLink}}" class="btn btn-block btn-info" ng-if="(newProject.scripts.length > 0 || newProject.copiedScripts.length > 0) && newProject.estimatedCompletionDate && newProject.title.length > 0">
        Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
