<section data-ng-controller="TalentsController">
    <div class="page-header">
        <h1>New Talent</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="name">First Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="First Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Last Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="lastName" id="lastName" class="form-control" placeholder="Last Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastNameCode">Last Name Code</label>
                    <div class="controls">
                        <input type="text" data-ng-model="lastNameCode" id="lastNameCode" class="form-control" placeholder="lastNameCode" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="parentName">Parent Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="parentName" id="parentName" class="form-control" placeholder="parentName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="type">Email</label>
                    <div class="controls">
                        <input type="email" data-ng-model="email" id="email" class="form-control" placeholder="Email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="type">Email Alt</label>
                    <div class="controls">
                        <input type="email" data-ng-model="email2" id="email2" class="form-control" placeholder="Email Alt">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="type">Phone Number</label>
                    <div class="controls">
                        <input type="tel" data-ng-model="phone" id="phone" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="type">Phone Number Alt</label>
                    <div class="controls">
                        <input type="tel" data-ng-model="phone2" id="phone2" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="prefLanguage">Preferred Contact Lanaguge</label><br>
                    <div class="btn-group">
                        <div class="btn-group">
                            <label ng-repeat="language in prefLangOpts" class="btn btn-primary" ng-model="$parent.prefLanguage" btn-radio="language">{{language}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="type">Type</label>
                    <div class="controls">
                        <div class="btn-group">
                            <label ng-repeat="type in typeOptions" class="btn btn-primary" ng-model="$parent.typeSelected" btn-radio="type">{{type}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="unionStatus">Union Status</label><br/>
                    <div class="btn-group">
                        <unionOptions ng-repeat="union in unionOptions">
                            <input type="checkbox" class="btn btn-primary" ng-model="unionStatus[union]" ng-click="toggleNewUnion(union)" btn-checkbox> {{union}}<br>
                        </unionOptions>
                    </div>
                </div>
                <div class="form-group" ng-if="checkUnionStatus(unionSelected)">
                    <div class="btn-group">
                        <unionOptions ng-repeat="union in unionJoinedOpts">
                            <input type="checkbox" class="btn btn-primary" ng-model="unionJoin[union]" ng-click="toggleNewUnionJoin(union)" btn-checkbox> {{union}}<br>
                        </unionOptions>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="gender">Gender</label><br/>
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="gender" btn-radio="'male'">Male</label>
                        <label class="btn btn-primary" ng-model="gender" btn-radio="'female'">Female</label>
                    </div>
                </div>
                 <div class="form-group">
                   <div class="btn-group">
                        <label class="btn btn-primary" ng-model="ageRange" btn-radio="'kid'">Kid</label>
                        <label class="btn btn-primary" ng-model="ageRange" btn-radio="'teen'">Teen</label>
                        <label class="btn btn-primary" ng-model="ageRange" btn-radio="'adult'">Adult</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="outageTimes">Outage Times</label>
                    <div class="controls">
                        <input type="text" data-ng-model="outageTimes" id="outageTimes" class="form-control" placeholder="outageTimes" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="locationISDN">Location/ISDN</label>
                    <div class="controls">
                        <select ng-model="locationISDN" class="form-control">
                            <option ng-repeat="item in locations" value="{{item}}">{{item}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="exclusivity">Contract Type</label>
                    <div class="controls">
                        <select ng-model="exclusivity" class="form-control">
                            <option ng-repeat="item in exclusivityOpts" value="{{item}}">{{item}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="type">ISDN Line 1</label>
                    <div class="controls">
                        <input type="tel" data-ng-model="ISDNLine1" id="ISDNLine1" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="type">ISDN Line 2</label>
                    <div class="controls">
                        <input type="tel" data-ng-model="ISDNLine2" id="ISDNLine2" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Source Connect Username</label>
                    <div class="controls">
                        <input type="text" data-ng-model="sourceConnectUsername" id="sourceConnectUsername" class="form-control" placeholder="Source Connect Username" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="producerOptional">Producer</label>
                    <div class="controls">
                        <!--<input type="text" data-ng-model="producerOptional" id="producerOptional" class="form-control" placeholder="Producer Optional">-->
                        <select ng-model="producerOptional" class="form-control" ng-change="">
                                <option value="">Pick a Producer</option>
                                <option ng-repeat="producer in producers"  ng-selected="producerOptional == (producer.firstName + ' ' + producer.lastName)" value="{{producer.firstName}} {{producer.lastName}}" >{{producer.firstName}} {{producer.lastName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">StudioCenter.com Demo Link</label>
                    <div class="controls">
                        <input type="text" data-ng-model="demoLink" id="demoLink" class="form-control" placeholder="StudioCenter.com Demo Link" required>
                    </div>
                </div>
            </div>
        </div>
                <div class="form-group">
                    <label class="control-label" for="typeCasts">Typecasts</label>
                     <div class="controls" ng-module="typecasts">
                        <div ng-controller="TypecastsController" data-ng-init="find()">
                            <div class="btn-group">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2" data-ng-repeat="typecast in typecasts | orderBy:'-sort':reverse">
                                    <p> {{::typecast.name}}</p>
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="(key, attribute) in typecast.attributes">
                                            <input type="checkbox" class="btn btn-primary" ng-model="talent.typeCasts[attribute]" btn-checkbox="'{{attribute}}'" ng-click="toggleNewTypecast(attribute)"> {{attribute}}
                                        </li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>
</section>
