<section data-ng-controller="TalentsController">
    <div class="page-header">
        <h1>New Talent</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Last Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="lastName" id="lastName" class="form-control" placeholder="LastName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="type">Email</label>
                    <div class="controls">
                        <input type="email" data-ng-model="email" id="email" class="form-control" placeholder="Email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="type">Email Alt</label>
                    <div class="controls">
                        <input type="email" data-ng-model="email2" id="email2" class="form-control" placeholder="Email Alt">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="type">Phone Number</label>
                    <div class="controls">
                        <input type="tel" data-ng-model="phone" id="phone" class="form-control" ui-mask="999-999-9999" placeholder="xxx-xxx-xxxx" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="type">Phone Number Alt</label>
                    <div class="controls">
                        <input type="tel" data-ng-model="phone2" id="phone2" class="form-control" ui-mask="999-999-9999" placeholder="xxx-xxx-xxxx">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="type">Type</label>
                    <div class="controls">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary" ng-model="type" btn-radio="'Email'">Email</label>
                            <label class="btn btn-primary" ng-model="type" btn-radio="'Phone'">Phone</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="unionStatus">Union Status</label><br/>
                    <div class="btn-group" data-toggle="buttons">
                        <unionOptions ng-repeat="union in unionOptions">
                            <input type="checkbox" class="btn btn-primary" ng-model="unionStatus[union]" ng-click="toggleNewUnion(union)" btn-checkbox> {{union}}<br>
                        </unionOptions>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="gender">Gender</label><br/>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary" ng-model="gender" btn-radio="'male'">Male</label>
                        <label class="btn btn-primary" ng-model="gender" btn-radio="'female'">Female</label>
                    </div>
                </div>
                 <div class="form-group">
                   <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary" ng-model="ageRange" btn-radio="'kid'">Kid</label>
                        <label class="btn btn-primary" ng-model="ageRange" btn-radio="'teen'">Teen</label>
                        <label class="btn btn-primary" ng-model="ageRange" btn-radio="'adult'">Adult</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastNameCode">Last Name Code</label>
                    <div class="controls">
                        <input type="text" data-ng-model="lastNameCode" id="lastNameCode" class="form-control" placeholder="lastNameCode" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="outageTimes">Outage Times</label>
                    <div class="controls">
                        <input type="text" data-ng-model="outageTimes" id="outageTimes" class="form-control" placeholder="outageTimes" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="locationISDN">Location/ISDN</label>
                    <div class="controls">
                        <select ng-model="locationISDN" required>
                            <option ng-repeat="item in locations" value="{{item}}">{{item}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="typeCasts">Typecasts</label>
                    <script>
                      var typecasts = angular.module("typecasts", []);
                      typecasts.controller("TypecastsController", function($scope) {
                          $scope.typecasts = Typecasts.query();
                          console.log($scope.typecasts);
                      });
                    </script>
                     <div class="controls" ng-module="typecasts">
                        <div ng-controller="TypecastsController" data-ng-init="find()">
                            <div class="btn-group" data-toggle="buttons">
                                <typecasts data-ng-repeat="typecast in typecasts">
                                    <input type="checkbox" class="btn btn-primary" ng-model="talent.typeCasts[typecast.name]" btn-checkbox="'{{typecast.name}}'" ng-click="toggleNewTypecast(typecast.name)"> {{typecast.name}}<br>
                                </typecasts>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>