<section data-ng-controller="TalentsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Talent</h1>
        <a class="btn btn-default" href="#!/talents/create">Create New Talent</a>
    </div>
    <label>Search:</label> <input ng-model="searchText" class="form-control">
    <div class="list-group">
        <a data-ng-repeat="talent in talents | filter:searchText" data-ng-href="#!/talents/{{talent._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Added
				<span data-ng-bind="talent.created | date:'short'"></span>
			</small>
			<h4 class="list-group-item-heading">{{talent.name}} {{talent.lastName}}</h4>
            <p><strong>Phone Number</strong> {{talent.phone | tel}} <strong>Phone Number Alt</strong> {{talent.phone2 | tel}}<br>
            <strong>Email</strong> {{talent.email}} <strong>Email Alt</strong> {{talent.email2}}</p>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!talents.$resolved || talents.length">
    	No Talents yet, why don't you <a href="/#!/talents/create">create one</a>?
    </div>
</section>