<section data-ng-controller="TalentsController" data-ng-init="findOne()">
	<div class="page-header jumbotron">
		<p><strong>First Name</strong> {{talent.name}}</p>
		<p><strong>Last Name</strong> {{talent.lastName}}</p>
		<p><strong>Last Name Code</strong> {{talent.lastNameCode}}</p>
		<p><strong>Parent Name</strong> {{talent.parentName}}</p>
		<p><strong>Gender</strong> {{talent.gender}} {{talent.ageRange}}</p>
		<p><strong>Email</strong> {{talent.email}}</p>
		<p><strong>Email Alt</strong> {{talent.email2}}</p>
		<p><strong>Phone Number</strong> {{talent.phone | tel}}</p>
		<p><strong>Phone Number Alt</strong> {{talent.phone2 | tel}}</p>
		<p><strong>Type</strong> 
		<span ng-repeat="(key, usval) in talent.type">{{usval}} </span> </p>
		<p><strong>Union Status</strong> 
		<span ng-repeat="(key, usval) in talent.unionStatus">{{usval}} </span>
		<br>
		<span ng-repeat="(key, usval) in talent.unionJoined">{{usval}} </span></p>
		<p><strong>Outage Times</strong> {{talent.outageTimes}}</p>
		<p><strong>Location/ISDN</strong> {{talent.locationISDN}}</p>
		<p><strong>Exclusivity</strong> {{talent.exclusivity}}</p>
		<p><strong>ISDN Line 1</strong> {{talent.ISDNLine1 | tel}}</p>
		<p><strong>ISDN Line 2</strong> {{talent.ISDNLine2 | tel}}</p>
		<p><strong>Source Connect Username</strong> {{talent.sourceConnectUsername}}</p>
		<p><strong>Producer</strong> {{talent.producerOptional}}</p>
		<p><strong>Typecasts</strong>
		<span ng-repeat="(key, usval) in talent.typeCasts"> {{usval}} </span> </p>
	</div>
	<div class="page-header jumbotron">
		<script>
          var projects = angular.module("projects", []);
          projects.controller("ProjectsController", function($scope) {
              $scope.projects = Users.query();
          });
        </script>
        <div class="controls" ng-module="projects">
            <div ng-controller="ProjectsController" data-ng-init="findTalentProjects(talent._id)">
            </div>
        </div>
	</div>
	<div class="pull-right" data-ng-show="permitAdminDirector()">
		<a class="btn btn-primary" href="/#!/talents/{{talent._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>