<section data-ng-controller="TalentsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="talent.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="user.role === 'admin' || user.role === 'producer'">
		<a class="btn btn-primary" href="/#!/talents/{{talent._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="talent.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="talent.user.displayName"></span>
		</em>
	</small>
</section>